<div class="range-wrapper">
    <input type="range" min="@Min" max="@Max" step="@Step" value="@Value" @oninput="OnInput" />
    <div class="range-track" style="left:@($"{TrackLeft}%"); width:@($"{TrackWidth}%");"> </div>   
</div>
@*<div class="value-text">
    @Value
</div>*@

@code {
    [Parameter] public int Min { get; set; } = 0;
    [Parameter] public int Max { get; set; } = 100;
    [Parameter] public int Step { get; set; } = 1;

    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
   

    private double TrackLeft => 0;
    private double TrackWidth => ((double)(Value - Min) / (Max - Min)) * 100;

    private async Task OnInput(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var newValue))
        {
            Value = newValue;
            await ValueChanged.InvokeAsync(Value);
        }
    }
}

<style>
    .range-wrapper {
        position: relative;
        width: 100%;
        height: 6px;
        background-color: #ddd;
        border-radius: 6px;
    }

        .range-wrapper input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 6px;
            background: none;
            pointer-events: none;
        }

            .range-wrapper input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 3px solid #3E1268;
                background-color: #fff;
                box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
                pointer-events: auto;
                position: relative;
                z-index: 3;
                background-color: #fff;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0.4 0.4'><circle fill='%23FEFEFE' cx='0.2' cy='0.2' r='0.2'/><rect fill='%23B9A3CF' x='0.14' y='0.14' width='0.04' height='0.12'/><rect fill='%23B9A3CF' x='0.23' y='0.14' width='0.04' height='0.12'/></svg>");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 21px;
            }

    .range-track {
        position: absolute;
        top: 0;
        height: 6px;
        background: #3E1268;
        z-index: 1;
        border-radius: 3px;
    }
    .value-text {
        margin-top: 10px;
        text-align: center;
        font-weight: 500;
    }

</style>