<MudGrid>
    <MudItem xs="12" Style="background-color: #3E1268;">
        <div class="aboutus1-box1">
            <div>
                <h6>Where food brings people together</h6>
            </div>
            <div>
                <p>
                    We believe food should feel effortless, comforting, and memorable.
                    EZ Gatherr serves gatherings with care, consistency, and quality you can trust.
                </p>
            </div>
        </div>


    </MudItem>

</MudGrid>

<style>
    .aboutus1-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }
        .aboutus1-box1 h6 {
            color: #111;
            font-family: "Playfair Display";
            font-size: 48px;
            font-style: italic;
            font-weight: 400;
            line-height: 100%; /* 48px */
            letter-spacing: -0.96px;
        }
        .aboutus1-box1 p {
            color: #E5E7EB;
            text-align: center;
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
</style>
