<MudGrid Spacing="0" Style="background-color: #FFF;border-radius:32px;">
    <MudItem xs="12">
        <div>
            <h6 class="aboutus-team-heading">Our Team</h6>
        </div>
        <MudStack Row="true" Justify="Justify.Center">
            <div>
                <div>
                    <img style="background: #EEE; border-radius: 32px;" src="/images/web-content/about-team1.png" />
                    <MudStack Row="false">
                        <p style="color: #111; font-size: 28px; font-style: normal;font-weight: 500;">Anurag</p>
                        <p>Founder & CEO</p>
                    </MudStack>
                </div>
            </div>

            <div>
                <div>
                    <img style="background: #EEE; border-radius: 32px;" src="/images/web-content/about-team2.png" />
                    <MudStack Row="false">
                        <p style="color: #111; font-size: 28px; font-style: normal;font-weight: 500;">Sarah Johnson</p>
                        <p>Creative Director</p>
                    </MudStack>
                </div>
            </div>

            <div>
                <div>
                    <img style="background:#EEE;border-radius:32px;" src="/images/web-content/about-team3.png" />
                    <MudStack Row="false">
                        <p style="color: #111; font-size: 28px; font-style: normal;font-weight: 500;">David Park</p>
                        <p>Event Manager</p>
                    </MudStack>
                </div>
            </div>

            <div>
                <div>
                    <img  style="background:#EEE;border-radius:32px;"  src="/images/web-content/about-team4.png" />
                    <MudStack Row="false">
                        <p style="color: #111; font-size: 28px; font-style: normal;font-weight: 500;">Michael</p>
                        <p>Operations Head</p>
                    </MudStack>
                </div>
            </div>

        </MudStack>
    </MudItem>
</MudGrid>


<style>
    .aboutus-team-heading {
        color: #111;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 80px;
        font-style: italic;
        font-weight: 400;
        line-height: 100%; /* 80px */
        letter-spacing: -1.6px;
    }
</style>