
<MudGrid Spacing="0">
    <MudItem xs="12">
        <img class="img-package" style="width:100%" src="/images/web-content/packagetab.png" />
        <div class="addon-img-btn">
            <img src="/images/web-content/cutbutton.png" />
        </div>
    </MudItem>
    <MudItem class="headingadd mt-2" sm="12">
        <h2>Basic Indian</h2>
        <p>
            A curated selection of Indian staples — aromatic rice, wholesome curries,
            and breads prepared fresh for everyday events, offering the perfect blend of comfort, taste, and tradition.
        </p>
    </MudItem>


    <MudItem xs="12" sm="12">
       

            <MudTabs Centered="true" Rounded="false" Outlined="false" Elevation="0" ApplyEffectsToContainer="true">
                <MudTabPanel Text="Package">
                    <MudGrid Spacing="0">
                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Includes</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" sm="6">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/_food.svg" />
                                            <span>Food</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" sm="6">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/_food.svg" />
                                            <span>Waiters</span>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Fit for</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" sm="6">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <div class="veg-div p-2">
                                                <img src="/images/web-content/veg.png" />
                                                <span>Veg</span>
                                                <div class="mt-2">
                                                    <p class="p-2">10 people With increment of +5</p>

                                                </div>
                                            </div>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" sm="6">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <div class="veg-non-div p-2">
                                                <img src="/images/web-content/non-veg.png" />
                                                <span>Non-veg</span>
                                                <div class="mt-2">
                                                    <p class="p-2">10 people With increment of +5</p>
                                                </div>
                                            </div>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Starters 1</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/veg.png" />
                                            <span>Tandoori Achari Aloo</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Mains</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/non-veg.png" />
                                            <span>Dal Tadka </span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Yellow lentils tempered with ghee, garlic, and spices..</p>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                @*<h2 class="all-heading">Bread / Rice</h2>*@
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/veg.png" />
                                            <span>Chole Masala</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Bread / Rice</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/non-veg.png" />
                                            <span>Wheat Tandoori Roti</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                @*<h2 class="all-heading">Starters 1</h2>*@
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/veg.png" />
                                            <span>Steamed Rice</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Fluffy, perfectly cooked white rice light and wholesome.</p>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" sm="12">
                                <hr style="border:1px dashed black" />
                            </MudItem>

                            <MudItem xs="12" Class="p-3">
                                <h2 class="all-heading">Dessert</h2>
                                <MudGrid Spacing="0">
                                    <MudItem xs="9" sm="9">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <img src="/images/web-content/non-veg.png" />
                                            <span>Wheat Tandoori Roti</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="3" sm="3" Class="pl-10">
                                        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                                            <span>2 psc</span>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="12">
                                        <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
                                    </MudItem>
                                </MudGrid>
                        </MudItem>

                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="Add-on">
                    <MudGrid Spacing="0" Class="p-3">
                        <MudItem xs="12">
                            <div class="search-box">
                                <img  alt="search" class="search-icon" src="/images/web-content/search-icon.png" />
                                <input type="text" placeholder="Search" />
                            </div>
                        </MudItem>
                        <MudItem xs="12" sm="12" Class="mt-2">
                            <MudStack Row="true" Wrap="Wrap.Wrap" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                <MudButton Class="rounded-pill" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small">All</MudButton>

                                <button class="btn-all">Food</button>
                                <button class="btn-all">Setup Service</button>
                                <button class="btn-all">Pooja</button>
                                <button class="btn-all">Deco</button>
                                <button class="btn-all">Dj</button>
                            </MudStack>
                        </MudItem>
                        <MudItem xs="12">
                            <MudStack Row="false" AlignItems="AlignItems.Center">
                                <MudGrid Spacing="0" >
                                    <MudItem xs="12" Class="mt-5">
                                        <PujariHand />
                                    </MudItem>
                                    <MudItem xs="12" Class="mt-5">
                                        <DjHand />
                                    </MudItem>
                                    <MudItem xs="12" Class="mt-5">
                                        <HelpingHand />
                                    </MudItem>
                                </MudGrid>


                            </MudStack>
                        </MudItem>

                    </MudGrid>
                </MudTabPanel>
            </MudTabs>

        </MudItem>
    

    <MudItem xs="12" class="footer-add-div">
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <div class="mt-1">
                <h6> ₹ 13,513.50</h6>
                <p>Inclusive of all taxes</p>
            </div>

            <div class="pb-3" >
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Place Order</MudButton>

            </div>
        </MudStack>
    </MudItem>

</MudGrid>


<style>
    .img-package {
        height: 250px;
        opacity: 1;
        border-radius: 24px;
    }


    .addon-img-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 8px;
    }
    .headingadd {

        padding: 10px;
        text-align: justify;
        text-justify: inter-word;
    }

    .heading h2 {
        color:#000;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -2%;
        font-style: normal;
        letter-spacing: -0.48px;
    }

        .heading p {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            width: 328px;
            height: 72px;
            top: 353px;
            left: 16px;
            opacity: 1;
        }

    .footer-add-div {
            width: 360px;
            height: 56px;
            background-color: #3E1268;
            color: #FFFFFF;
            padding-left: 20px;
            padding-right: 20px;
    }

/*    package css*/
    .img-package {
        height: 250px;
        opacity: 1;
        border-radius: 24px;
    }

    .heading {
        padding-left: 16px;
    }

        .heading h2 {
            font-family: DM Sans;
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -2%;
        }

        .heading p {
            font-family: DM Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            width: 328px;
            height: 72px;
            top: 353px;
            left: 16px;
            opacity: 1;
        }

    .modify-btn {
        background-color: #EEEEEE;
        border-radius: 24px;
    }

    .all-heading {
        width: 150px;
        height: 18px;
        opacity: 1;
        font-family: DM Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #111111;
    }

    .veg-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(15, 181, 89, 0.4) -9.17%, rgba(15, 181, 89, 0.08) 62.92%);
    }

    .veg-non-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(246, 20, 21, 0.4) -9.17%, rgba(246, 20, 21, 0.08) 62.92%);
    }

    .veg-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .veg-non-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .para {
        width: auto;
        text-wrap: wrap;
        color: #666;
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
    }

    .btn-all {
        width: fit-content;
        padding:4px 12px 4px 12px;
        height: 26px;
        background-color: #F2ECF8;
        border: 1px solid #F9F5FC;
        border-radius: 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #777777;
    }

    .footer-div {
        width: 400px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
    }


    .white-outline-btn {
        border: 1px solid white !important;
        color: white !important;
    }

        .white-outline-btn:hover {
            background-color: white !important;
            color: #220A3A !important;
        }


    .search-box {
        width: auto;
        height: 46px;
        background: #f9f9f9;
        border: 1px solid #EEEEEE;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 0 14px;
        gap: 10px;
    }

    .search-icon {
        width: 18px;
        height: 18px;
    }

    .search-box input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        width: 100%;
    }

</style>