<MudGrid Spacing="0">
        <MudItem xs="12" Class="checkout-box2 mt-4">
            <MudGrid Spacing="0">
                <MudItem xs="4">
                    <img class="check-imgs2" src="/images/web-content/_dish.png" />
                </MudItem>
                <MudItem xs="8">
                    <MudStack Row="true">
                        <h6 class="headingcheck12">Basic Indian</h6>
                        <img class="check-earphone" src="/images/web-content/check-earphone.png" />
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudItem>
</MudGrid>

<style>
    
    .checkout-box2 {
        width: auto;
        height: 220px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #FFF;
        margin-top:16px;
        padding:16px;
        border:1px solid black;
    }
    .check-imgs2 {
        width:auto;
        height: 96px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 16px;
    }
    .headingcheck12 {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 26px */
        letter-spacing: -0.4px;
        padding-left:40px;
    }
    .check-earphone {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background-color: #EEEEEE;
    }
</style>
