<MudGrid Spacing="0">
    <MudItem xs="12" sm="12" Class="decor2-box1">
        <MudStack Row="true">
            <img class="decor2-img1" src="/images/web-content/backbutton.svg" />
            <h6 class="decor2-heading1">Wedding Decor</h6>
        </MudStack>
    </MudItem>

    <MudItem xs="12" sm="12">
        <img class="decor2-img-package" style="width:100%" src="/images/web-content/satya.png" />
    </MudItem>
    <MudItem xs="12" sm="12" Class="pl-3 mt-4">
        <p class="decor2-para">
            Wedding decor focuses on creating a romantic, elegant, and memorable atmosphere for the couple’s special day.
            It includes beautifully designed mandaps/stages, floral backdrops.
        </p>
    </MudItem>

    <MudItem xs="12" Class="p-4">


        <MudItem xs="12" Class="mt-6">
            <h2 class="decor2-headong2">Package</h2>
        </MudItem>

        <MudItem xs="12" sm="12">
            <hr style="border: 2px solid #EEE;" />
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-4">
            <h2 class="decor2-headong2" style="font-size:14px;">Includes</h2>

            <MudStack Row="true" Class="mt-3">
                <span>1.Stage Setup</span>
                <span>2.Seating Decor</span>>
                <span>3.One Pandit</span>
            </MudStack>
            <div class="dashed-hr123 mt-4">

            </div>
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-4">
            <h2 class="decor2-headong2" style="font-size:14px;">Package Details</h2>
        </MudItem>

        <MudItem xs="12" sm="12">
            <ul class="purple-dots">
                <li>Customized stage backdrop design</li>
                <li>Bride & Groom sofa/chairs</li>
                <li>Floral arrangements (roses / mixed flowers)</li>
                <li>Draping with premium fabrics</li>
                <li>Decorative lighting for stage and entrance</li>
                <li>Theme-based color (as per client choice)</li>
            </ul>

        </MudItem>

        <MudItem xs="12" sm="12">
            <div class="dashed-hr123 mt-4">

            </div>
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-4">
            <h2 class="decor2-headong2" style="font-size:14px;">Important Note</h2>

            <p>
                Decor theme, colors, and flowers can be customized on request Final setup depends on
                venue size and layout Additional props, premium flowers, or lighting may cost extra Setup and dismantling
                will be handled by our décor team Advance booking is recommended to ensure availability
            </p>

        </MudItem>

        <MudItem xs="12" sm="12">
            <hr style="border: 2px solid #EEE;" />
        </MudItem>



        <MudItem xs="12" sm="12">
            <MudStack Row="false" AlignItems="AlignItems.Center">
                <MudGrid Spacing="0">
                    <MudItem xs="12">
                        <MudGrid Spacing="0" Class="deco2pujari-hand">
                            <MudItem xs="12" sm="12">
                                <MudGrid Spacing="0">
                                    <MudItem xs="4" sm="4" Class="deco2pujari-img-container">
                                        <img class="deco2pujari-img" src="/images/web-content/pujari-hand.png" />
                                    </MudItem>
                                    <MudItem xs="8" sm="8">
                                        <h3>Poojari Assistant</h3>
                                        <p>
                                            Let rituals flow smoothly we’ll handle the details.
                                        </p>
                                    </MudItem>
                                </MudGrid>

                            </MudItem>

                            <MudItem xs="12" sm="12" Class="deco2pujari-bottom-div">
                                <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                    <MudItem xs="6" sm="6">
                                        <h3>₹2500</h3>
                                    </MudItem>
                                    <MudItem xs="6" sm="6" Class="text-end p-2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudItem>


                    <MudItem xs="12" Class="mt-5">
                        <MudGrid Spacing="0" Class="djdecor2-hand">
                            <MudItem xs="12" sm="12">
                                <MudGrid Spacing="0">
                                    <MudItem xs="4" sm="4" Class="djdecor2-img-container">
                                        <img class="djdecor2-img" src="/images/web-content/bentoboximg2.png" />
                                    </MudItem>
                                    <MudItem xs="8" sm="8">
                                        <h3>Flower & Fruits</h3>
                                        <p>
                                            Let rituals flow smoothly we’ll handle
                                            the details.
                                        </p>
                                    </MudItem>
                                </MudGrid>

                            </MudItem>

                            <MudItem xs="12" sm="12" Class="djdecor2-bottom-div">
                                <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                    <MudItem xs="6" sm="6">
                                        <h3>₹1500</h3>
                                    </MudItem>
                                    <MudItem xs="6" sm="6" Class="text-end p-2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudItem>

                    <MudItem xs="12" Class="mt-5">
                        <MudGrid Spacing="0" Class="havandecor2-hand">
                            <MudItem xs="12" sm="12">
                                <MudGrid Spacing="0">
                                    <MudItem xs="4" sm="4" Class="havandecor2-img-container">
                                        <img class="havandecor2-img" src="/images/web-content/hawanimg.png" />
                                    </MudItem>
                                    <MudItem xs="8" sm="8">
                                        <h3>Chairs</h3>
                                        <p>
                                            Let rituals flow smoothly we’ll handle
                                            the details.
                                        </p>
                                    </MudItem>
                                </MudGrid>

                            </MudItem>

                            <MudItem xs="12" sm="12" Class="havandecor2-bottom-div">
                                <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                    <MudItem xs="6" sm="6">
                                        <h3>₹1000</h3>
                                    </MudItem>
                                    <MudItem xs="6" sm="6" Class="text-end p-2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>


            </MudStack>
        </MudItem>

    </MudItem>


    <MudItem xs="12" class="footer-div">
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <div class="mt-2">
                <h> ₹ 13,513.50</h>
                <p>Inclusive of all taxes</p>
            </div>

            <div class="mb-2">
                <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="btn-primary  m-2" Color="Color.Primary">Place Order</MudButton>

            </div>
        </MudStack>
    </MudItem>

</MudGrid>

<style>

    .decor2-box1 {
        display: flex;
        width: auto;
        height: 57px;
        flex-direction: column;
        align-items: flex-start;
    }

    .decor2-img1 {
        padding-left: 24px;
        padding-top: 16px;
    }

    .decor2-heading1 {
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        padding-top: 18px;
    }
    .decor2-img-package {
        width: auto;
        height: 250px;
    }
    .decor2-headong2 {
        color: var(--Primary-Base-Black, var(--Primary-Base-Black, #000));
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
    }

    .footer-div {
        width: 360px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
    }

   
        .deco2pujari-hand {
            position: relative;
            width: auto;
            height: 142px;
            background-color: #FFD54D;
            color: #111111;
            border-radius: 24px;
            overflow: visible;
        }

    .deco2pujari-img-container {
        position: relative;
    }

    .deco2pujari-img {
        position: absolute;
        width: 85px;
        height: 108px;
        bottom: 0px;
        left: 16px;
    }


    .deco2pujari-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 16px;
        padding-top: 16px;
    }

    .deco2pujari-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 16px;
    }

    .deco2pujari-bottom-div {
        width: auto;
        height: 53px;
        background-color: #FFE48B;
        border-radius: 0px 0px 24px 24px;
    }

    .deco2pujari-bottom-div-grid {
        padding-top: 30px;
    }

        /*    dj hand css*/
        .djdecor2-hand {
            position: relative;
            width: auto;
            height: 142px;
            background-color: #54198B;
            border-radius: 24px;
            overflow: visible;
        }

    .djdecor2-img-container {
        position: relative;
    }

    .djdecor2-img {
        position: absolute;
        width: 80px;
        height: 66px;
        bottom: 18px;
        left: 16px;
    }


    .djdecor2-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 10px;
        padding-top: 16px;
        color: white;
    }

    .djdecor2-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 10px;
        color: white;
    }

    .djdecor2-bottom-div {
        width: auto;
        height: 53px;
        background-color: #6522A4;
        border-radius: 0px 0px 24px 24px;
    }

        /*    hawan*/
    .havandecor2-hand {
        position: relative;
        width: auto;
        height: 142px;
        background-color: #15607F;
        color: #111111;
        border-radius: 24px;
        overflow: visible;
    }

    .havandecor2-img-container {
        position: relative;
    }

    .havandecor2-img {
        position: absolute;
        width: 80px;
        height: 79px;
        bottom: 18px;
        left: 16px;
    }


    .havandecor2-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 10px;
        padding-top: 16px;
        color: white;
    }

    .havandecor2-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 12px;
        color: white;
    }

    .havandecor2-bottom-div {
        width: auto;
        height: 53px;
        background-color: #1B759A;
        border-radius: 0px 0px 24px 24px;
    }

        /*    ul*/
        .purple-dots li::marker {
            color: #B985E9;
        }

        .dashed-hr123 {
            border: 1px dashed #DDD;
            width: auto;
            height: 0;
            padding-left: 16px;
            padding-right: 16px;
        }
</style>