<MudGrid Spacing="0" Class="explore-container">

    <MudItem xs="12" >
        <img src="/images/webcontex/explore-food.png" />
    </MudItem>

    <MudItem xs="12" Class="p-3">
      <MudGrid Spacing="0">
            <MudItem xs="12">
                <h1>Food</h1>
            </MudItem>
            <MudItem xs="12">
                <p>From cakes to catering, discover verified chefs, crafted experiences, and gourmet menus.</p>
            </MudItem>
            <MudItem xs="12" Class="text-center">
                <MudButton Color="Color.Default" Variant="Variant.Outlined" Class="rounded-pill" FullWidth="true">Explore Food</MudButton>
            </MudItem>
      </MudGrid>
    </MudItem>
   
    <MudItem xs="12" Class="explore-gradiet-bg">

    </MudItem>
</MudGrid>


<style>
    .explore-container{
        position: relative;
        width: 280px;
        height: 426px;
        border-radius:32px;
        background-color:#fff;
        overflow: hidden;
    }

        .explore-container img{
            border-radius: 32px 32px 0px 0px;
        }
    .explore-container h1{
            color: #FF6F61;
            font-family: "Playfair Display";
            font-size: 40px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.8px;
    }
    .explore-container p{
            color: #111;
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 20.8px */
            letter-spacing: -0.32px;
    }

    .explore-gradiet-bg{
        position:absolute;       
        width:340px;
        height:310px;
        bottom:-170px;
        right:-156px;
        border-radius:50%;
        background: linear-gradient(137deg, rgba(255, 111, 97, 0.27) 49.34%, rgba(255, 111, 97, 0.60) 120.01%);
        filter: blur(50px);
    }
</style>