<MudGrid Spacing="0" Class="explore-container">

    <MudItem xs="12">
        <img src="/images/web-content/explore-food.png" />
    </MudItem>

    <MudItem xs="12" Class="explore-container-div">
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <h1>Food</h1>
            </MudItem>
            <MudItem xs="12">
                <p class="mt-2">From cakes to catering, discover verified chefs, crafted experiences, and gourmet menus.</p>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="pl-6">
        <button class="food-btn mb-6">Explore Food</button>
    </MudItem>

    <MudItem xs="12" Class="explore-gradiet-bg">

    </MudItem>
</MudGrid>


<style>
    .explore-container{
        position: relative;
        width: 280px;
        height: auto;
        border-radius:32px;
        background-color:#fff;
        overflow: hidden;
    }

        .explore-container img{
            border-radius: 32px 32px 0px 0px;
        }

    .explore-container-div{
        padding-left:24px;
        padding-top:35px;
    }
    .explore-container-div h1 {
        color: #FF6F61;
        font-family: "Playfair Display";
        font-size: 40px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.8px;
    }
    .explore-container-div p{
            color: #111;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
            letter-spacing: -0.32px;
            width:232px;
            text-wrap:wrap;
    }

    .explore-gradiet-bg{
        position:absolute;       
        width:340px;
        height:310px;
        bottom:-170px;
        right:-156px;
        border-radius:50%;
        background: linear-gradient(137deg, rgba(255, 111, 97, 0.27) 49.34%, rgba(255, 111, 97, 0.60) 120.01%);
        filter: blur(50px);
    }

    .food-btn {
        width: 232px;
        height: 46px;
        stroke: #000;
        padding-left: 24px;
        border: 1px solid #000000;
        border-radius: 40px;
        border-width: 1.5px;
        opacity: 1;
        color:#000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
</style>