<MudGrid Spacing="0">
    <MudItem xs="12" sm="12">
        <div class="gallery-heading mt-5 mb-3">
            <h2>Gallery</h2>
        </div>
    </MudItem>
    <MudItem xs="12" sm="12">
        <MudStack Row="true" Class="ps-6 pe-4 mt-4">
            <img class="gallery-imgall" src="/images/web-content/gallery-img-1.png" />
            <img class="gallery-imgall" src="/images/web-content/gallery-img-2.png" />
        </MudStack>
    </MudItem>
    <MudItem xs="12" sm="12" Class="ps-6 pe-4 mt-4">
        <img class="gallery-imgall" src="/images/web-content/gallery-img-3.png" />
    </MudItem>
    <MudItem xs="12" sm="12" Class="ps-6 pe-4 mt-4">
        <MudStack Row="true">
            <img class="gallery-imgall" src="/images/web-content/gallery-img-4.png" />
            <img class="gallery-imgall" src="/images/web-content/gallery-img-5.png" />
        </MudStack>
    </MudItem>

</MudGrid>

<style>
    .gallery-heading {
        font-family: Playfair Display;
        font-weight: 400;
        font-style: Italic;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.96px;
        text-align: center;
        margin-bottom: 0px;
    }
    .gallery-imgall {
    border-radius:24px;
    }
</style>