<div class="main-container d-flex justify-content-center align-items-center">
    <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
        <MudButton Class="semi-btn">Gather Box</MudButton>
        <MudButton Class="semi-btn">Gather feast</MudButton>
        <MudButton Class="semi-btn">Bento Box</MudButton>
    </MudStack>
</div>

<style>
    .main-container {
        background-color: #220A3A;
        padding: 10px;
        height: 46px;
        display: flex;
        align-items: center;
        border-radius:24px;
    }

    .semi-btn{
        color: #7F7093;
    }

    .semi-btn:hover{
        background-color: #341F4B !important;
        color: white !important;
        border: 1px solid #422A5E !important;
        border-radius: 20px !important;
        min-width: 78px;
        height: 30px;
        border:none;
    }
</style>
