<MudGrid Spacing="0" Style="padding-left:409px; padding-right:409px;">
    <MudItem xs="12" Class="loyalty-div">
        <div class="first-layout">
            <img src="/images/web-content/loyalty-img-1.png" />
        </div>
        <div class="second-layout">
            <img src="/images/web-content/loyalty-img-2.png" />
        </div>
        <div class="third-layout">
            <img src="/images/web-content/loyalty-3.png" />
        </div>
        <div class="fourth-layout">
            <img src="/images/web-content/loyalty-4.png" />
        </div>
        <div class="fifth-layout">
            <img src="/images/web-content/loyalty-5.png" />
        </div>
        <div class="sixth-layout">
            <img src="/images/web-content/loyalty-6.png" />
        </div>
        <div class="seven-layout">
            <img src="/images/web-content/loyalty-7.png" />
        </div>
        <div class="eight-layout">
            <img src="/images/web-content/loyalty-8.png" />
        </div>
        <div class="nine-layout">
            <img style="width:348px;" src="/images/web-content/loyalty-9.png" />
        </div>
        <div class="ten-layout">
            <img style="width:365px;" src="/images/web-content/loyalty-10.png" />
        </div>

        <div class="main-wallet">
            <img style=" width: 74px; height: 74px;" src="/images/web-content/main-wallet1.png" />
        </div>

        <div class="wallet-text">
            <span style="font-size: 12px;">Available Points</span>
            <h2>850</h2>
            <p>Points worth ₹ 643.50</p>
        </div>

    </MudItem>

    <MudItem xs="12" Class="loyalty-div2">
        <MudStack Row="true">
            <MudItem xs="8">
                <MudItem>
                    <MudStack Row="true">
                        <div class="img-div d-flex justify-content-center">
                            <img class="d-flex mt-1 justify-content-center" src="/images/web-content/vectoricon.svg" />
                        </div>
                        <span>Refer and Earn</span>
                    </MudStack>
                </MudItem>
                <MudItem>
                    <p>Share our catering with friends and earn rewards when their event gets booked.</p>
                </MudItem>
            </MudItem>

            <MudItem xs="4" Class="btn-class">
                <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="rounded-pill" Color="Color.Primary">Refer now</MudButton>
            </MudItem>
        </MudStack>
    </MudItem>


    <MudItem xs="12">
        <div class="h&p-div d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Recent Activity</h6>
            <a href="#">View all</a>
        </div>
    </MudItem>


    <MudItem xs="12" Class="item-divs">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading">Order : Basic indian</span>
                    <p>Today, 2:30 PM</p>
                </MudStack>
            </MudItem>
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading positive"  style="color: #00A43D">+ 45</span>
                    <p>Points</p>
                </MudStack>
            </MudItem>
        </MudStack>
    </MudItem>

    <MudItem xs="12" Class="item-divs">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading">Discount Applied</span>
                    <p>Yesterday, 7:15 PM</p>
                </MudStack>
            </MudItem>
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading negative" style="color: #FF2B38">- 100</span>
                    <p>Points</p>
                </MudStack>
            </MudItem>
        </MudStack>
    </MudItem>

    <MudItem xs="12" Class="item-divs">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading">Order: Sounth indian</span>
                    <p>Nov 15, 10:00 AM</p>
                </MudStack>
            </MudItem>
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading positive"  style="color: #00A43D">+ 30</span>
                    <p>Points</p>
                </MudStack>
            </MudItem>
        </MudStack>
    </MudItem>


    <MudItem xs="12" Class="item-divs">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading">Referral Bonus</span>
                    <p>Nov 15, 10:00 AM</p>
                </MudStack>
            </MudItem>
            <MudItem xs="6">
                <MudStack Row="false" AlignItems="AlignItems.Center">
                    <span class="span-heading positive" style="color: #00A43D">+ 200</span>
                    <p>Points</p>
                </MudStack>
            </MudItem>
        </MudStack>
    </MudItem>


</MudGrid>

<style>
    .loyalty-div {
        position:relative;
        background-color: #3E1268;
        width: auto;
        height: 224px;
        border-radius:16px;
        overflow:hidden;
    }
    .first-layout {
        position:absolute;
        width: 307px;
        height: 83.009px;
        top:71px;
    }
    .second-layout {
        position: absolute;
        width: 312px;
        height: 45.999px;
        top: 29px;
    }
    .third-layout {
        position: absolute;
        width: 208.894px;
        height: 79.189px;
        left:103px;
    }
    .fourth-layout {
        position: absolute;
        width: 98.137px;
        height: 79px;
        left:213px;
    }
    .fifth-layout {
        position: absolute;
        width: 61.574px;
        height: 87.799px;
        left:273px;
    }
    .sixth-layout {
        position: absolute;
        width: 61.574px;
        height: 87.799px;
        left:300px;
    }
    .seven-layout {
        position: absolute;
        width: 98.137px;
        height: 79px;
        left:320px;
    }
    .eight-layout {
        position: absolute;
        width: 208.894px;
        height: 79.189px;
        left:329px;
        right:102px;
        top:0px;
    }
    .nine-layout {
        position: absolute;
        width: 312px;
        height: 55.999px;
        left: 340px;
        right: 0px;
        top: 20px;
    }
    .ten-layout {
        position: absolute;
        width: 307px;
        height: 98.009px;
        left:324px;
        top:62px;
        right:0px;
    }

    .item-divs {
        width: 622px;
        height: 89px;
        top: 518px;
        left: 409px;
        border-radius: 24px;
        opacity: 1;
        background-color: greenyellow;
        margin-top: 10px;
        padding-top: 24px;
    }
    .main-wallet {
        position:absolute;
        width: 740px;
        height: 740px;
        left:289px;
        right:279px;
        top:28px;
        bottom:148px;
    }

    .wallet-text {
        position: relative;
        left: 269px;
        color: #fff;
        top:108px;
    }
    .wallet-text p{
        position:relative;
        left:-29px;
    }

        .wallet-text h2 {
            position: relative;
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.96px;
            left:-300px;
        }
    .loyalty-div2 {
        position: relative;
        width: 622px;
        height: 125px;
        fill: #FFF;
        padding-top: 16px;
        border-radius: 16px;
    }

    .img-div {
        position: relative;
        border-radius: 8px;
        background: rgba(155, 81, 224, 0.10);
        width: 31px;
        height: 31px;
        left: 28px;
    }

        .img-div img {
            width: 24px;
            height: 24px;
        }

    .loyalty-div2 span {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.48px;
        padding-left: 22px;
    }
        .loyalty-div2 p {
            color: #666;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.28px;
            padding-left:67px;
            width:285px;
            text-wrap:wrap;
        }

    .btn-class{
        padding-top:38px;
    }

    .h&p-div h6 {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.32px;
    }

    .span-heading {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; 
        letter-spacing: -0.32px;
    }
        .span-heading positive {
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: -0.4px;
        }

        .span-heading negative {
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: -0.4px;
        }
</style>
