<MudGrid Spacing="0">
    <MudItem xs="12" Class="loyalty-wallet-box1">
        <MudStack Row="true">
            <img class="loyalty-wallet-img1 mt-4" src="/images/web-content/backbutton.svg" />
            <h6 class="loyalty-wallet-heading1 mt-4">Loyalty Wallet</h6>
        </MudStack>
    </MudItem>

    <MudGrid Spacing="4">
        <MudItem xs="12">
            <div class="loyalty-wallet-box2">
                <img class="loyalty-wallet-banner-img" src="/images/web-content/Untitled-1.svg" />
                <img class="loyalty-wallet-img2" src="/images/web-content/main-wallet1.png" />
                <div class="loyalty-wallet-box3">
                    <div class="loyalty-wallet-">Available Points</div>
                    <div class="loyalty-wallet">850</div>
                    <div class="loyalty-wallet">Points worth ₹ <span>643.50</span></div>
                </div>
            </div>

        </MudItem>
    </MudGrid>
</MudGrid>

<style>
    .loyalty-wallet-box1 {
        display: flex;
        width: auto;
        height: 64px;
        padding-left: 16px;
        align-items: center;
        gap: 12px;
        background-color:#FFF;
    }
    .loyalty-wallet-img1 {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }
    .loyalty-wallet-heading1 {
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
    }
    .loyalty-wallet-box2 {
        position: relative;
        width: auto;
        height: 220px;
        background-color: #3E1268;
        overflow: hidden;
        border-radius: 24px;
    }
    .loyalty-wallet-banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .loyalty-wallet-img2 {
        position: absolute;
        width: 52px;
        height: 52px;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        display: block;
    }
</style>