<MudGrid Spacing="1">
    <MudItem xs="12" sm="12">
        <div class="zig-marquee">

            <div class="zig-marquee-content">
                <!-- First set of icons -->
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/pandit.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Pandit</h6>
                        <p>Service</p>
                    </div>
                </div>
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/gather.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Gather</h6>
                        <p>Feast</p>
                    </div>
                </div>
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/venue.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Venue</h6>
                        <p>Decor</p>
                    </div>
                </div>


                <!-- Duplicate set of icons for seamless loop -->
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/pandit.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Pandit</h6>
                        <p>Service</p>
                    </div>
                </div>
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/gather.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Gather</h6>
                        <p>Feast</p>
                    </div>
                </div>
                <div class="zig-icon-wrapper">
                    <img src="/images/web-content/venue.png" alt="img" />
                    <div class="bg-zigzig">

                    </div>
                    <div class="zig-text-box">
                        <h6>Venue</h6>
                        <p>Decor</p>
                    </div>
                </div>

            </div>
        </div>
    </MudItem>
</MudGrid>





<style>
    .zig-marquee {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        height: 380px;
        padding: 10px;
        /*        border: 1px solid green;*/
        background-image: url('/images/web-content/carosol-bg.svg'); /* your SVG */
        background-repeat: no-repeat;
        background-position: top 0px left -130px;
        background-size: 1628px 305px;
    }

    .zig-marquee-content {
        display: inline-flex;
        animation: scroll 40s linear infinite;
    }

    .zig-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px; /* adjust spacing */
        height: 264px; /* adjust height 200 then 260 */
        margin: 16px;
        position: relative; /* needed for top offset */
        overflow: hidden;
    }

        .zig-icon-wrapper img {
            border-radius: 32px;
            width: 100%;
            height: 100%;
            object-fit: cover; /* keeps image nicely scaled */
        }

    /*    .zig-text-box {
        position: absolute;
        left: 32px;
        bottom: 32px;
    }

    zig-text-box h6 {
        color: white!important;
        font-size: 24px;
        font-weight: 900;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
        pointer-events: none;
        margin-bottom:0px;
    }
    zig-text-box p {
        color: white!important;
        font-size: 24px;
        font-weight: normal;
        font-style: italic;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
        pointer-events: none;
        margin-bottom: 0px;
    }*/

    .zig-text-box {
        position: absolute;
        left: 32px;
        bottom: 32px;
    }

        .zig-text-box h6 {
            color: white !important;
            font-size: 24px;
            font-weight: 900;
            text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
            pointer-events: none;
            margin-bottom: 0px; /* fixed */
        }

        .zig-text-box p {
            color: white !important;
            font-size: 24px;
            font-weight: normal;
            font-style: italic;
            text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
            pointer-events: none;
            margin-top: -5px;
            margin-bottom: 0px; /* fixed */
        }


    .bg-zigzig {
        position: absolute;
        border-radius: 32px;
        background: linear-gradient(220deg, rgba(0, 0, 0, 0.00) 68.23%, #000 100%);
        width: 264px;
        height: 264px;
    }



    /* Odd items */
    .zig-icon-wrapper:nth-child(odd) {
        top: 0px;
    }

    /* Even items */
    .zig-icon-wrapper:nth-child(even) {
        top: 80px;
    }

    @@keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
        /* only scroll half, since we duplicated */
    }
</style>
