<MudGrid Spacing="0" Class="guidence-container">

    <MudItem xs="12" Class="guidence-bg">

       <MudGrid Spacing="0" Style="padding:20px;margin-top:260px;">
            <MudItem xs="12" Class="girl-wrap">
                <img src="/images/webcontex/guidance-girl.png" />
            </MudItem>

            <MudItem xs="12" Style="background: linear-gradient(180deg, rgba(62, 18, 104, 0) 1.8%, #3E1268 36.84%); position: absolute;
        top: 300px;
        width: 100%;    
        left: 50%;
        transform: translateX(-50%);">
                <MudGrid Spacing="0" >
                        <MudItem xs="12" Class="mt-8" >
                        <h2 Style="color: #FFF;text-align: center;font-size: 32px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -0.64px;">
                            Need a little <br /> guidance?
                        </h2>
                        </MudItem>
                        <MudItem xs="12" Class="m-3">
                            <p>From menus to venues, our team can help you choose what fits your style and occasion best.</p>
                        </MudItem>
                </MudGrid>
            </MudItem>


              <MudItem xs="12" Class="mt-2 text-center" Style="width:400px;">
                @* <MudButton Variant="Variant.Filled" Size="Size.Large" Class="rounded-pill" FullWidth="true" Color="Color.Primary">Get Personalized Help</MudButton> *@
            </MudItem>
       </MudGrid>

    </MudItem>   
    
    <MudItem xs="12" Class="text-center p-3" Style="position:relative; margin-top:430px;width: 199px;height: 46px;">
        <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="rounded-pill" FullWidth="true">Get Personalized Help</MudButton>
    </MudItem>
</MudGrid>




<style>
    .guidence-container{        
        position:relative;
        background-color: #3E1268;
        color: white;
        width: 312px;
        height: 528px;
        border-radius:32px;
        overflow: visible;
    }

    .guidence-bg {
        position: absolute;
        width: auto;
        height: 528px;
        background-image: url('/images/webcontex/guidance-bg.svg');
        background-repeat: no-repeat;
        background-size: 310px 370px;
        top:-70px;
    }

    .girl-wrap {
        position: absolute;
        top: -2px; 
        left: 50%;
        transform: translateX(-50%);
    }

    .guidence-container h2{
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.64px;
            align-self: stretch;
    }

            .guidence-container p{
            color: #D9C3EF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.32px;
            align-self: stretch;
            }
   

</style>