<MudGrid Spacing="0" Class="values-container">
    <MudItem xs="12" Class="values-bg m-2 p-3" >
        <h2>
            Secure
            Booking
        </h2>


    </MudItem>

</MudGrid>

<style>
        .values-container{
            position:relative;
        width: 280px;
        height: 272px;
        background-color: #FFFFFF;
        border-radius:32px;
        }
        .values-bg{
        position: absolute;
        width: 256px;
        height: 236px;
        background: linear-gradient(146deg, rgba(155, 81, 224, 0.26) -11.31%, rgba(155, 81, 224, 0.05) 77.61%);
        opacity: 0.4;
        border-radius:24px;
    }
</style>