<MudGrid Spacing="0" Class="package-card" >

    <MudItem xs="12" sm="12">
        <MudImage Class="package-img" Src="/images/web-content/_dish.png"></MudImage>
        <div class="img-item-div">
            <img class="veg1-img" src="/images/web-content/veg.png" />
        </div>
    </MudItem>

    <MudItem xs="12" sm="12">
        <MudGrid Spacing="1">

            <MudItem xs="12" sm="12" Class="mt-1">
                <h6 class="package-heading">Basic Indian</h6>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-1">


                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <p class="package-details">Starters 1 • Mains 1 <br /> Dessert 1• Bread / Rice 1</p>
                </MudStack>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-1">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <span class="package-fitfor">Fit For: <b class="package-people">10 people</b></span>
                </MudStack>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-1">
                <span class="package-gst"><b class="package-price">209</b> +GST</span>
            </MudItem>
            <MudItem xs="12" sm="12" Class="ms-2 me-2">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="card-btn-plan" FullWidth="true" StartIcon="@shopingIcon">Add to cart</MudButton>
            </MudItem>

        </MudGrid>
    </MudItem>
</MudGrid>


@code {
    string shopingIcon = @"
<svg xmlns=""http://www.w3.org/2000/svg"" width=""18"" height=""18"" viewBox=""0 0 18 18"" fill=""none"">
  <g clip-path=""url(#clip0_410_540)"">
    <path d=""M6 2.25H12C12.3978 2.25 12.7794 2.40804 13.0607 2.68934C13.342 2.97064 13.5 3.35218 13.5 3.75V5.115C13.5 5.69716 13.6356 6.27132 13.896 6.792L14.604 8.208C14.8644 8.72868 15 9.30284 15 9.885V14.25C15 14.6478 14.842 15.0294 14.5607 15.3107C14.2794 15.592 13.8978 15.75 13.5 15.75H4.5C4.10218 15.75 3.72064 15.592 3.43934 15.3107C3.15804 15.0294 3 14.6478 3 14.25V9.885C3.00004 9.30284 3.13562 8.72868 3.396 8.208L4.5 6V3.75C4.5 3.35218 4.65804 2.97064 4.93934 2.68934C5.22064 2.40804 5.60218 2.25 6 2.25Z""
          stroke=""white"" stroke-width=""2"" stroke-linecap=""round"" stroke-linejoin=""round"" />

    <path d=""M4.5 15.75C4.89782 15.75 5.27936 15.592 5.56066 15.3107C5.84196 15.0294 6 14.6478 6 14.25V9.885C5.99996 9.30284 5.86438 8.72868 5.604 8.208L4.5 6""
          stroke=""white"" stroke-width=""2"" stroke-linecap=""round"" stroke-linejoin=""round"" />

    <path d=""M8.25 5.25H9.75"" stroke=""white"" stroke-width=""2"" stroke-linecap=""round"" stroke-linejoin=""round"" />
  </g>

  <defs>
    <clipPath id=""clip0_410_540"">
      <rect width=""18"" height=""18"" fill=""white"" />
    </clipPath>
  </defs>
</svg>
";
}




<style>
    .package-card {
        background-color: #ffff;
        width: auto;
        height: 340px;
        opacity: 1;
        border-radius: 24px;
    }
    .img-item-div {
        position: relative;
    }

    .package-img {
        width: 100%;
        height: auto;
        border-radius: 16px;
    }
    .veg1-img {
        position: absolute;
        top: -130px;
        right: 10px;
    }

    .package-heading {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        letter-spacing: -0.32px;
        padding-left: 12px;
    }

    .package-details {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.24px;
        padding-left: 12px;
    }

    .package-icons {
        width: 24px;
        height: 24px;
    }

    .package-price {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
    }

    .package-gst {
        color: #999999;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        padding-left: 12px;
    }

    .package-fitfor {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.24px;
        padding-left: 12px;
    }

    .package-people {
        color: #333;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.24px;
    }

    .card-btn-plan {
        height: 40px;
        border-radius: 40px;
        background-color: #FF3B30 !important;
        text-transform: capitalize !important;
        box-shadow: 0px 4px 7.1px 0px #FFFFFF80 inset;
        padding-left: 24px;
        display: inline-flex;
        align-items: center; /* vertical center */
        justify-content: center; /* horizontal center */
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

        .card-btn-plan .mud-icon-root {
            margin-top: 4px;
            color: #FFF;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

</style>