<MudGrid Spacing="0">
    <MudItem xs="12">
        <div class="img-wrapper">
            <img class="img-package" src="/images/web-content/packagetab.png" />

            <span class="addon-img-btn">
                <MudIconButton Icon="@Icons.Material.Filled.Close"
                               @onclick="OnClose"
                               Size="Size.Small"
                               Color="Color.Default" />
            </span>
        </div>
    </MudItem>



    <MudItem class="heading mt-2" sm="12">
        <h2>Basic Indian</h2>
        <p>
            A curated selection of Indian staples — aromatic rice, wholesome curries,
            and breads prepared fresh for everyday events, offering the perfect blend of comfort, taste, and tradition.
        </p>
    </MudItem>
    <MudItem xs="12">
        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
            <MudItem xs="7" sm="7">
                <MudTabs Centered="false" Rounded="false" Outlined="false" Elevation="0" MinimumTabWidth="0px" ApplyEffectsToContainer="true">
                    <MudTabPanel Text="Package">

                    </MudTabPanel>
                    <MudTabPanel Text="Add On">

                    </MudTabPanel>
                </MudTabs>
            </MudItem>
            <MudItem xs="5" sm="5">
                <MudButton Class="modify-btn">Modify Menu</MudButton>
            </MudItem>
        </MudStack>
    </MudItem>
    @*<MudItem xs="12" sm="12">
            <hr style="border:1px solid red" />
        </MudItem>*@

    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Includes</h2>
        <MudGrid Spacing="0">
            <MudItem xs="4" sm="4">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/_food.svg" />
                    <span>Food</span>
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img style="height:18px; width:18px;" src="/images/web-content/waiter.png" />
                    <span>Waiters</span>
                </MudStack>
            </MudItem>
            <div class="dashed-hr2 mt-4">

            </div>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="p-2">
        <h2 class="all-heading">Fit for</h2>
        <MudGrid Spacing="6">
            <MudItem xs="6" sm="6">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <div class="veg-div p-2">
                        <img src="/images/web-content/veg.png" />
                        <span style="font-size: 14px; color: #111;" class="mt-3">Veg</span>
                        <div class="mt-2">
                            <p class="p-2" style="color: #666; font-size:14px;">10 people With increment of +5</p>

                        </div>
                    </div>
                </MudStack>
            </MudItem>
            <MudItem xs="6" sm="6">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <div class="veg-non-div p-2">
                        <img src="/images/web-content/non-veg.png" />
                        <span style="font-size: 14px; color: #111;" class="mt-3">Non-veg</span>
                        <div class="mt-2">
                            <p class="p-2" style="color: #666; font-size:14px;">10 people With increment of +5</p>
                        </div>
                    </div>
                </MudStack>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2 mt-4">

        </div>
    </MudItem>


    <MudItem xs="12" Class="p-2">
        <h2 class="all-heading">Starters 1</h2>
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Tandoori Achari Aloo</span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2">

        </div>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Mains</h2>
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Dal Tadka </span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Yellow lentils tempered with ghee, garlic, and spices..</p>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2">

        </div>
    </MudItem>



    <MudItem xs="12" Class="p-3">
        @*<h2 class="all-heading">Bread / Rice</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Chole Masala</span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2">

        </div>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Bread / Rice</h2>
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Wheat Tandoori Roti</span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2">

        </div>
    </MudItem>

    <MudItem xs="12" Class="p-3">
        @*<h2 class="all-heading">Starters 1</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Steamed Rice</span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Fluffy, perfectly cooked white rice light and wholesome.</p>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr2">

        </div>
    </MudItem>

    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Dessert</h2>
        <MudGrid Spacing="0">
            <MudItem xs="8" sm="8">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Wheat Tandoori Roti</span>
                </MudStack>
            </MudItem>
            <MudItem xs="4" sm="4" Class="pl-16">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <span>2 psc</span>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12">
                <p class="para">Yellow lentils tempered with ghee, garlic, and spices.</p>
            </MudItem>
        </MudGrid>
    </MudItem>



    <MudItem xs="12" class="footer-div">
        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
            <div class="mt-1">
                <h6> ₹ 13,513.50 <br /> <span>Inclusive of all taxes</span></h6>
            </div>
            <div class="footer-div-btnmodify">
                <MudButton Variant="Variant.Outlined"
                           Size="Size.Medium"
                           Class="rounded-pill white-outline-btn">
                    Modify
                </MudButton>
            </div>
            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary ml-2 mb-2 mt-1">Add to Cart</MudButton>
            </div>
        </MudStack>
    </MudItem>
</MudGrid>


@code{

    [Parameter]
    public bool IsClose { get; set; } = true;

    [Parameter]
    public EventCallback<bool> IsCloseChanged { get; set; }


    private async Task OnClose()
    {
        IsClose = false;
        await IsCloseChanged.InvokeAsync(IsClose);
    }

    private async Task PlaceOrder()
    {
        IsClose = true;
        await IsCloseChanged.InvokeAsync(IsClose);
    }

}
<style>

    .img-wrapper {
        position: relative;
    }

    .img-package {
        position:relative;
        height: 250px;
        opacity: 1;
        border-radius: 24px;
    }
    .addon-img-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 8px;
    }

    .heading {
        padding-left: 16px;
    }

        .heading h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -2%;
            color: #000;
        }

        .heading p {
            color: #666;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            width: 328px;
            height: 72px;
            top: 353px;
            left: 16px;
            opacity: 1;
        }

    .modify-btn {
        background-color: #EEEEEE;
        color: #000;
        border-radius: 24px;
    }

    .all-heading {
        width: 150px;
        height: 18px;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #111111;
    }

    .veg-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(15, 181, 89, 0.4) -9.17%, rgba(15, 181, 89, 0.08) 62.92%);
    }

    .veg-non-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(246, 20, 21, 0.4) -9.17%, rgba(246, 20, 21, 0.08) 62.92%);
    }

    .veg-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .veg-non-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .para {
        width: auto;
        text-wrap: wrap;
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        padding-left: 28px;
    }

    .footer-div {
        width: 360px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
    }

        .footer-div h6 {
            font-size: 20px;
        }

        .footer-div span {
            font-size: 12px;
            color: #D8D0E1;
        }

    .white-outline-btn {
        border: 1px solid white !important;
        color: white !important;
    }

        .white-outline-btn:hover {
            background-color: white !important;
            color: #220A3A !important;
        }

    .dashed-hr2 {
        border: 1px dashed #DDD;
        width: 328px;
        height: 0;
    }

    .footer-div-btnmodify {
        padding-bottom: 8px;
        padding-top: 4px;
    }
</style>