<MudGrid Spacing="0" Class="pujari-hand">
    <MudItem xs="12" sm="12">
        <MudGrid Spacing="0" >
            <MudItem xs="4" sm="4" Class="pandit-img-container">
                    <img class="pandit-img" src="/images/web-content/pujari-hand.png" />
            </MudItem>
            <MudItem xs="8" sm="8">
                <h3>Poojari Assistant</h3>
                <p>
                    Let rituals flow smoothly we’ll handle the details.
                </p>
            </MudItem>
       </MudGrid>
        
    </MudItem>

    <MudItem xs="12" sm="12" Class=" bottom-div">
        <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
            <MudItem xs="6" sm="6">
                <h3>₹100</h3>
            </MudItem>
            <MudItem xs="6" sm="6" Class="text-end p-2">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>

            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<style>
    .pujari-hand {
        position: relative;
        width: auto;
        height: 142px;
        background-color: #FFD54D;
        color: #111111;
        border-radius: 24px;
        overflow: visible;
    }
    .pandit-img-container{
        position:relative;
    }
    .pandit-img {
        position: absolute;
        width: 85px;
        height: 108px;
        bottom: 0px;
        left: 16px;
    }


        .pujari-hand h3 {
            font-weight: 700;
            font-style: normal;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -2%;
            padding-left:16px;
            padding-top:16px;
        }

        .pujari-hand p {
            width: 200px;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: -2%;
            text-wrap: wrap;
            padding-left: 16px;
        }
    .bottom-div {
        width:auto;
        height: 53px;
        background-color: #FFE48B;
        border-radius:0px 0px 24px 24px;
    }
    .bottom-div-grid {
        padding-top:30px;
    }
</style>