
<MudGrid Spacing="0">
    <MudItem xs="12">
        <div class="blog-post-box">
            <img src="/images/web-content/RecentBlogPost-1.png" />
            <button class="blog-post-btn">
                Gather Bento
            </button>
        </div>
      
        <MudStack Row="true" Class="mt-4">
            <div class="blog-post-para">
                <MudStack Row="true" Spacing="0">
                    <MudIcon Icon="@CustomIcons.CalendarIcon" Size="Size.Small" />
                    <p>07 Jan 2026</p>
                </MudStack>
            </div>
            <div class="blog-post-para">
                <MudStack Row="true" Spacing="0">
                    <MudIcon Icon="@CustomIcons.ClockIcon" Size="Size.Small" />
                    <p>12 min read</p>
                </MudStack>
            </div>
        </MudStack>

        <div class="mt-3">
            <h6 class="blog-post-heading">EZ Gatherr’s Bento Box Isn’t Just Another Meal</h6>
            <p class="blog-post-para1 mt-2">Expert ideas, planning tips, and decor inspiration for flawless...</p>
        </div>

        <div style="border:1px solid #DDDDDD" class="mt-3">

        </div>
        <MudStack Class="mt-2" Row="true" Justify="Justify.SpaceBetween">
            <p class="blog-post-para2">By EZ GATHERR</p>
            <p class="blog-post-para3">Read More > </p>
        </MudStack>
    </MudItem>
</MudGrid>


<style>
    .blog-post-box {
        position:relative;
    }
        .blog-post-box img {
            width: 100%;
            height: 185px;
            border-radius: 12.99px;
            opacity: 1;
        } 
    .blog-post-btn {
        position:absolute;
        display: flex;
        width: 96px;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 32px;
        background: rgba(0, 0, 0, 0.60);
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        left:12px;
        top:149px;
    }
    .blog-post-para {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .blog-post-heading {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .blog-post-para1 {
        color: #666;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .blog-post-para2 {
        color: #666;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .blog-post-para3 {
        color: #111;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

</style>
