<MudGrid Spacing="0">

    <MudItem xs="12" sm="12">
        <img class="satya-img-package" style="width:100%" src="/images/web-content/satya.png" />
        <div class="satya-img-btn">
            <img src="/images/web-content/cutbutton.png" />
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" Class="pl-3 mt-2">
        <h2 class="bento-heading">Satyanarayanx</h2>
        <p class="bento-para">
            Perfect for: Everyday meals with a homely touch. Includes:
        </p>
    </MudItem>

    <MudItem xs="12" sm="12" Class="p-2">
        <h2>Package</h2>
    </MudItem>

    <MudItem xs="12" sm="12">
        <hr style="border: 2px solid #EEE;" />
    </MudItem>

    <MudItem xs="12" sm="12" Class="p-2">
        <h2 class="satya-heading">Includes</h2>
        <MudStack Row="true">
            <span>1.One Pandit</span>
            <span>2.All Puja Samagar</span>>
            <span>3.Dakshina</span>
        </MudStack>
        <div class="dashed-hr123 mt-4">

        </div>
    </MudItem>

    <MudItem xs="12" sm="12" Class="p-2">
        <h2 class="satya-heading">Package Details</h2>
    </MudItem>

    <MudItem xs="12" sm="12">
        <ul class="purple-dots">
            <li>Swasti vachanam</li>
            <li>Maha Sankalp</li>
            <li>Gauri Ganeshi Puja</li>
            <li>Kalash Navgraha Puja</li>
            <li>Satyanarayan Katha, Puja & Havan</li>
            <li>Aarti & Prasad Distribution</li>
        </ul>

    </MudItem>

    <MudItem xs="12" sm="12">
        <div class="dashed-hr123 mt-4">

        </div>
    </MudItem>

    <MudItem xs="12" sm="12" Class="p-2">
        <h2 class="satya-heading">Package Details</h2>

        <p>
            Puja Samagries like Haldi, Abeer, Gulal, Mango leaves, Tulasi,
            Darba, Kalash, Beetle Leaves, Beetle Nuts, Havan Sticks, Samidha, Havan Kund,
            Dravyas, Kapda, Ghee etc. will be brought by us. Yajaman has to keep house items like Vessels,
            Oil Lamps, Mats, Bowls, Chowki, Plates, Prasad, Photos etc you will be receiving detailed to do list after booking
        </p>

    </MudItem>

    <MudItem xs="12" sm="12" Class="p-2">
        <hr style="border: 2px solid #EEE;" />
    </MudItem>



    <MudItem xs="12" sm="12">
        <MudStack Row="false" AlignItems="AlignItems.Center">
            <MudGrid Spacing="0">
                <MudItem xs="12" Class="p-2">
                    <MudGrid Spacing="0" Class="satyapujari-hand">
                        <MudItem xs="12" sm="12">
                            <MudGrid Spacing="0">
                                <MudItem xs="4" sm="4" Class="satyapujari-img-container">
                                    <img class="satyapujari-img" src="/images/web-content/pujari-hand.png" />
                                </MudItem>
                                <MudItem xs="8" sm="8">
                                    <h3>Poojari Assistant</h3>
                                    <p>
                                        Let rituals flow smoothly we’ll handle the details.
                                    </p>
                                </MudItem>
                            </MudGrid>

                        </MudItem>

                        <MudItem xs="12" sm="12" Class="satyapujari-bottom-div">
                            <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                <MudItem xs="6" sm="6">
                                    <h3>₹2500</h3>
                                </MudItem>
                                <MudItem xs="6" sm="6" Class="text-end p-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                </MudItem>
                            </MudGrid>
                        </MudItem> 
                    </MudGrid>
                </MudItem>


                <MudItem xs="12" Class="p-2">
                    <MudGrid Spacing="0" Class="djsatya-hand">
                        <MudItem xs="12" sm="12">
                            <MudGrid Spacing="0">
                                <MudItem xs="4" sm="4" Class="djsatya-img-container">
                                    <img class="djsatya-img" src="/images/web-content/bentoboximg2.png" />
                                </MudItem>
                                <MudItem xs="8" sm="8">
                                    <h3>Add a Helping Hand</h3>
                                    <p>
                                        Add a server for ₹299 relax and enjoy your event.
                                    </p>
                                </MudItem>
                            </MudGrid>

                        </MudItem>

                        <MudItem xs="12" sm="12" Class="djsatya-bottom-div">
                            <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                <MudItem xs="6" sm="6">
                                    <h3>₹1500</h3>
                                </MudItem>
                                <MudItem xs="6" sm="6" Class="text-end p-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudItem>

                <MudItem xs="12" Class="p-2">
                    <MudGrid Spacing="0" Class="havan-hand">
                        <MudItem xs="12" sm="12">
                            <MudGrid Spacing="0">
                                <MudItem xs="4" sm="4" Class="havan-img-container">
                                    <img class="havan-img" src="/images/web-content/hawanimg.png" />
                                </MudItem>
                                <MudItem xs="8" sm="8">
                                    <h3>Havan</h3>
                                    <p>Let rituals flow smoothly we’ll handle the details.</p>
                                </MudItem>
                            </MudGrid>

                        </MudItem>

                        <MudItem xs="12" sm="12" Class="havan-bottom-div">
                            <MudGrid Spacing="0" Class="d-flex justify-content-center align-items-center">
                                <MudItem xs="6" sm="6">
                                    <h3>₹100</h3>
                                </MudItem>
                                <MudItem xs="6" sm="6" Class="text-end p-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Add</MudButton>

                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>


        </MudStack>
    </MudItem>

    <MudItem xs="12" class="footer-div">
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <div class="mt-2">
                <h > ₹ 13,513.50</h>
                <p>Inclusive of all taxes</p>
            </div>

            <div class="mb-2">
                <MudButton Variant="Variant.Filled" Size="Size.Medium"  Class="btn-primary  m-2" Color="Color.Primary">Place Order</MudButton>

            </div>
        </MudStack>
    </MudItem>

</MudGrid>

<style>
    .satya-img-package {
        position: relative;
        height: 250px;
        opacity: 1;
        border-radius: 24px;
    }
    .satya-img-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right:8px;
    }
    .satya-heading {
        width: 150px;
        height: 18px;
        opacity: 1;
        font-family: DM Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #111111;
    }
    .footer-div {
        width: 360px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
    }

/*    pujari-satya
*/
    .satyapujari-hand {
        position: relative;
        width: auto;
        height: 142px;
        background-color: #FFD54D;
        color: #111111;
        border-radius: 24px;
        overflow: visible;
    }

    .satyapujari-img-container {
        position: relative;
    }

    .satyapujari-img {
        position: absolute;
        width: 85px;
        height: 108px;
        bottom: 0px;
        left: 16px;
    }


    .satyapujari-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 16px;
        padding-top: 16px;
    }

    .satyapujari-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 16px;
    }

    .satyapujari-bottom-div {
        width: auto;
        height: 53px;
        background-color: #FFE48B;
        border-radius: 0px 0px 24px 24px;
    }

    .satyapujari-bottom-div-grid {
        padding-top: 30px;
    }

/*    dj hand css*/
    .djsatya-hand {
        position: relative;
        width: auto;
        height: 142px;
        background-color: #54198B;
        border-radius: 24px;
        overflow: visible;
    }

    .djsatya-img-container {
        position: relative;
    }

    .djsatya-img {
        position: absolute;
        width: 80px;
        height: 66px;
        bottom: 18px;
        left: 16px;
    }


    .djsatya-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 10px;
        padding-top: 16px;
        color: white;
    }

    .djsatya-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 10px;
        color: white;
    }

    .djsatya-bottom-div {
        width: auto;
        height: 53px;
        background-color: #6522A4;
        border-radius: 0px 0px 24px 24px;
    }

/*    hawan*/
    .havan-hand {
        position: relative;
        width: auto;
        height: 142px;
        background-color: #15607F;
        color: #111111;
        border-radius: 24px;
        overflow: visible;
    }

    .havan-img-container {
        position: relative;
    }

    .havan-img {
        position: absolute;
        width: 80px;
        height: 79px;
        bottom: 18px;
        left: 16px;
    }


    .havan-hand h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -2%;
        padding-left: 10px;
        padding-top: 16px;
        color: white;
    }

    .havan-hand p {
        width: 200px;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: -2%;
        text-wrap: wrap;
        padding-left: 12px;
        color: white;
    }

    .havan-bottom-div {
        width: auto;
        height: 53px;
        background-color: #1B759A;
        border-radius: 0px 0px 24px 24px;
    }

/*    ul*/
    .purple-dots li::marker {
        color: #B985E9;
    }

    .dashed-hr123 {
        border: 1px dashed #DDD;
        width:auto;
        height: 0;
        padding-left:16px;
        padding-right:16px;
    }
</style>