@inherits LayoutComponentBase

<title>EZar</title>

<MudThemeProvider Theme="CustomeThemes.Themetheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="background-color:antiquewhite">
   
    <MudMainContent Class="m-0 p-0 border">
        @Body       
    </MudMainContent>
    
</MudLayout>

