@inherits LayoutComponentBase

<title>EZar</title>

<MudThemeProvider Theme="CustomeThemes.Themetheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="m-0 p-0" >
   
    <MudMainContent Class="m-0 p-0" Style="background-color:#F9F5FC;">
        @Body       
    </MudMainContent>
    
</MudLayout>

