@page "/aboutus"
<PageTitle>About Us Page</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="p-0 m-0">
    <AboutUs1 />
</MudContainer>


<MudContainer MaxWidth="MaxWidth.Large" Class="p-4 m-0">
    <MudGrid Spacing="0" Class="mt-12">
        <MudItem xs="12" Class="aboutus-second-box">
            <div>
                <h6>Built on trust.Perfected with care.</h6>
            </div>
        </MudItem>

        <MudItem xs="12" Class="mt-6">
            <MudStack Row="false">

                <MudItem xs="12">
                    <div>
                        <MudStack Row="true" Spacing="3">
                            <img style="width: 167px; height: 167px; border-radius:24px;" src="/images/web-content/aboutus-second-img1.png" />
                            <img style="width: 167px; height: 167px; border-radius: 24px;margin-top:24px;" src="/images/web-content/aboutus-second-img2.png" />
                        </MudStack>
                        <MudStack Row="true" Spacing="3">
                            <img style="width: 167px; height: 167px; border-radius: 24px;" src="/images/web-content/aboutus-second-img3.png" />
                            <img style="width: 167px; height: 167px; border-radius: 24px;margin-top:24px;" src="/images/web-content/aboutus-second-img4.png" />
                        </MudStack>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <MudStack Row="false">
                        <div>
                            <p>
                                Founded in 2018, EZgather started with a simple mission:
                                to make event planning stress-free and enjoyable. What began as a small team
                                of passionate individuals has grown into a full-service event management
                                company trusted by clients across the country.
                            </p>
                        </div>
                        <div>
                            <p>
                                Today, we combine creativity, precision, and personal touch to deliver events that exceed expectations.
                                Whether it's a corporate conference, a dream wedding, or a milestone celebration, we handle every detail with care.
                            </p>
                        </div>

                    </MudStack>

                </MudItem>
            </MudStack>
        </MudItem>

    </MudGrid>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large" Class="p-0 m-0">
 <TrustBox />  
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large" Class="p-0 mt-12">
    <MudGrid Spacing="0" Style="background-color: #FFF;">
        <MudItem xs="12">
            <div>
                <h6 class="aboutus-team-heading1 mt-10">Our Team</h6>
            </div>
            <MudItem xs="12" Class="p-4">
                <MudStack Spacing="4" Row="true" Justify="Justify.Center">
                    <div>
                        <div>
                            <img style="background: #EEE; border-radius: 24px; height: 168px; width: 144px;" src="/images/web-content/about-team1.png" />
                            <MudStack Spacing="0" Row="false">
                                <p style="color: #111; font-size: 20px; font-style: normal;font-weight: 500;">Anurag</p>
                                <p style="color: #666; font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.28px;">Founder & CEO</p>
                            </MudStack>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img style="background: #EEE; border-radius: 24px; height: 168px; width: 144px; " src="/images/web-content/about-team2.png" />
                            <MudStack Spacing="0" Row="false">
                                <p style="color: #111; font-size: 20px; font-style: normal;font-weight: 500;">Sarah Johnson</p>
                                <p style="color: #666; font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.28px;">Creative Director</p>
                            </MudStack>
                        </div>
                    </div>
                </MudStack>

                <MudStack Spacing="4" Row="true" Justify="Justify.Center">
                    <div>
                        <div>
                            <img style="background: #EEE; border-radius: 24px; height: 168px; width: 144px;" src="/images/web-content/about-team3.png" />
                            <MudStack Spacing="0" Row="false">
                                <p style="color: #111; font-size: 20px; font-style: normal;font-weight: 500;">David Park</p>
                                <span style="color: #666; font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.28px;">Event Manager</span>
                            </MudStack>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img style="background: #EEE; border-radius: 24px; height: 168px; width: 144px; " src="/images/web-content/about-team4.png" />
                            <MudStack Spacing="0" Row="false">
                                <p style="color: #111; font-size: 20px; font-style: normal;font-weight: 500;">Michael</p>
                                <span style="color: #666; font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.28px;">Operations Head</span>
                            </MudStack>
                        </div>
                    </div>
                </MudStack>
            </MudItem>

        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large" Class="p-4 mt-20">
    <MudGrid Spacing="0" Class="aboutus-guidence-container">

        <MudItem xs="12" Class="aboutus-guidence-bg">

            <MudGrid Spacing="0" Style="padding:20px;margin-top:260px;">
                <MudItem xs="12" Class="aboutus-girl-wrap">
                    <img src="/images/web-content/guidance-girl.png" />
                </MudItem>

                <MudItem xs="12" Style="background: linear-gradient(180deg, rgba(62, 18, 104, 0) 1.8%, #3E1268 36.84%); position: absolute;
        top: 250px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);">
                    <MudGrid Spacing="0">
                        <MudItem xs="12" Class="mt-8">
                            <h2 Style="color: #FFF;text-align: center;font-size: 32px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -0.64px;">
                                Need a little <br /> guidance?
                            </h2>
                        </MudItem>
                        <MudItem xs="12" Class="m-3 mt-2">
                            <p>From menus to venues, our team can help you choose what fits your style and occasion best.</p>
                        </MudItem>
                    </MudGrid>
                </MudItem>


                <MudItem xs="12" Class="mt-2 text-center" Style="width:400px;">
                    @* <MudButton Variant="Variant.Filled" Size="Size.Large" Class="rounded-pill" FullWidth="true" Color="Color.Primary">Get Personalized Help</MudButton> *@
                </MudItem>
            </MudGrid>

        </MudItem>

        <MudItem xs="12" Class="text-center p-3" Style="position:relative; margin-top:450px;width: 199px;height: 46px;">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="btn-primary" Style="text-transform:none;">Get Personalized Help</MudButton>
            <div class="mt-4"> 
                <button class="aboutus-girl-button">Explore Our Blog</button>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>


<style>
    .aboutus-second-box {
        position: relative;
    }

        .aboutus-second-box h6 {
            color: #111;
            font-family: "Playfair Display";
            font-size: 48px;
            font-style: italic;
            font-weight: 400;
            line-height: 100%; /* 80px */
            letter-spacing: -1.6px;    
        }

    .aboutus-team-heading1 {
        color: #111;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
        line-height: 100%; /* 80px */
        letter-spacing: -1.6px;
    }

    .aboutus-guidence-container {
        position: relative;
        background-color: #3E1268;
        color: white;
        width: auto;
        height: 588px;
        border-radius: 32px;
        overflow: visible;
    }

    .aboutus-guidence-bg {
        position: absolute;
        width: auto;
        height: 528px;
        background-image: url('/images/web-content/guidance-bg.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .aboutus-girl-wrap {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
    }

    .aboutus-guidence-container h2 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.64px;
        align-self: stretch;
    }

    .aboutus-guidence-container p {
        color: #D9C3EF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;
        align-self: stretch;
    }
    .aboutus-girl-button {
        width: 175px;
        height: 46px;
        border: 1.5px solid #FFF;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius:24px;
    }
   
</style>