@page "/Addon"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<div class="d-flex justify-content-center">

    @*<PackageTab />*@

    @*<MorePackageTab />*@

    <AddOnTab />

    @*<EventInformation />*@

    @*<MoreDetailsPackage />*@

    @*<BentoBoxMore />*@

    @*<BentoBoxMore />*@

    @*<SatyanarayanCard />*@

    @*<EventInfoPooja />*@

    @*<CardToolTip />*@

    @*<LoyaltyWallet />*@

</div>
