@page "/allpage"
@layout EmptyLayout


    <div style="border: 1px solid #ddd; padding: 10px; font-size:16px;">
        <MudLink Href="/Packagedetails1">1. More Details | Package Tab</MudLink><br />
        <MudLink Href="/Packagedetails2">2. More Details | Package Tab-2</MudLink><br />
        <MudLink Href="/Packagedetails3">3. More Details | Package Tab-3</MudLink><br />
        <MudLink Href="/Addon">4. Add-on Tab | Option 01</MudLink><br />
        <MudLink Href="/BentoBox1">5. bento Tab | Option 01</MudLink>

    </div>