@page "/checkout12"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudItem xs="12" sm="12" Class="p-4">
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <div>
                <MudStack Row="true" Spacing="4">
                    <div>
                        <img src="/images/web-content/backbutton.svg" />
                    </div>
                    <div>
                        <h6 class="check-heading1"> Logo Here</h6>
                    </div>
                </MudStack>
            </div>
            <div>
                <MudStack Row="true" Spacing="1">
                    <div>
                        <MudIcon Icon="@CustomIcons.CheckoutTopIcon" />
                    </div>
                    <div>
                        <p class="check-headingpra2 ">100% Secure</p>
                    </div>
                </MudStack>
            </div>
        </MudStack>
    </MudItem>

    <MudItem xs="12" sm="12">
        <div class="check-top-item">
        </div>
    </MudItem>

    <MudItem xs="12" sm="12" Class="mt-3">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
            <div>
                <button type="button" class="checklink-button">CART</button>
                <div class="checkunderline-div"></div>
            </div>

            <div>
                <MudText Style="color: #999">-----</MudText>
            </div>
            <div>
                <button type="button" class="checklink-button-normal">ADDRESS</button>
            </div>
            <div>
                <MudText Style="color: #999">-----</MudText>
            </div>
            <div>
                <button type="button" class="checklink-button-normal">PAYMENT</button>
            </div>

        </MudStack>
    </MudItem>

</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
   <div style="padding:16px;">
        <Checkout1 />
    </div>

    <div style="padding:16px;">
        <CheckOut12 />
    </div>

</MudContainer>

<style>
    .check-top-item {
        border-bottom: 1px solid #F7F7F7;
        background: #FFF;
    }
    .check-heading1 {
        color: #666;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-bottom:0px;
    }
    .check-headingpra2 {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }


    .checklink-button {
        height: 25px;
        width: fit-content;
        color: #FF3B30;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    .checkunderline-div {
        height: 2px;
        width: 100%;
        background-color: #FF3B30;
        border-radius: 2px; 
        margin-top: 4px; 
    }

    .checklink-button-normal {
        color: #666;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    

</style>