@page "/checkout"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <MudItem xs="12" sm="12" Class="check-box1">
        <MudStack Row="true">
            <img class="check-img1" src="/images/web-content/backbutton.svg" />
            <h6 class="check-heading1"> My Order</h6>
        </MudStack>
    </MudItem>

    <MudItem sm="12" xs="12" Class="mt-3 pl-4">
        <MudTabs Centered="false" Rounded="false" MinimumTabWidth="0" Outlined="false" Elevation="0" ApplyEffectsToContainer="true">
            <MudTabPanel Text="Ongoing">
            </MudTabPanel>

            <MudTabPanel Text="Order History">

            </MudTabPanel>
        </MudTabs>
    </MudItem>

    <div style="margin-top:16px;padding:16px;">
        <Checkout1 />
    </div>

</MudContainer>

<style>
    .check-box1 {
        display: flex;
        width: auto;
        height: 57px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid #F7F7F7;
    }

    .check-img1 {
        padding-left: 16px;
        padding-top: 10px;
    }

    .check-heading1 {
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        padding-top: 16px;
    }
</style>