@page "/corporatem"
<PageTitle>CorprRate Orders Page</PageTitle>


<MudGrid Spacing="0" Class="corporate-bg">
    <div class="corporate-bg-circle">
    </div>
    <MudItem sm="12" xs="12" Class="text-center">
        <div class="corporate-text-box">
            <div class="corporate-hosting-text">
                <span>Exceptional Service.<br />Real Impact.</span>
            </div>
        </div>
        <div class="corporate-para mt-8">
            <p>
                Delivering reliable catering solutions that create value for every gathering.
            </p>
        </div>

        <MudItem xs="12" Class="mt-3">
            <div>
                <Corporate1 />
            </div>
        </MudItem>

    </MudItem>
</MudGrid>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="p-0 m-0 mt-8">
    <MudPaper Class="main-white-card">

        <!-- SECTION 1 -->
        <MudGrid Spacing="4" Class="section-row" Justify="Justify.Center">
            <MudItem xs="12">
                <span class="section-tag">ABOUT US</span>
                <h2 style="color: #111;font-family:Playfair Display;font-size: 48px; font-style: italic;font-weight: 400;line-height: 100%; /* 48px * /">
                    Welcome to EZ Gatherr
                </h2>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <div class="section-text">
                    <p>
                        We take pride in delivering thoughtfully prepared meals directly to your location, ensuring convenience and a
                        memorable dining experience for any occasion. With free setup and cleanup, recyclable chafing pans, compostable utensils,
                        and Sterno for hot buffets, we uphold our commitment to sustainability and exceptional hospitality. Our service includes
                        reusable table runners,
                        chef and food signs with dietary tags, and a focus on quality to bring joy and wellbeing to your workplace.
                    </p>
                    <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">
                        Enjoy Excellence
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>

        <!-- SECTION 2 -->
        <MudGrid Spacing="4" Class="section-row" Justify="Justify.Center">
            <MudItem xs="12">
                <span class="section-tag">Catering Service</span>
                <h2 style="color: #111;font-family:Playfair Display;font-size: 48px; font-style: italic;font-weight: 400;line-height: 100%; /* 48px * /">
                    Drop Off
                </h2>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <div class="section-text">
                    <p>
                        We take pride in delivering thoughtfully prepared meals directly to your location, ensuring convenience and a
                        memorable dining experience for any occasion. With free setup and cleanup, recyclable chafing pans, compostable utensils,
                        and Sterno for hot buffets, we uphold our commitment to sustainability and exceptional hospitality. Our service includes
                        reusable table runners,
                        chef and food signs with dietary tags, and a focus on quality to bring joy and wellbeing to your workplace.
                    </p>
                    <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">
                        Feast Your Eyes
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>

        <!-- SECTION 3 -->
        <MudGrid Spacing="4" Class="section-row" Justify="Justify.Center">
            <MudItem xs="12">
                <span class="section-tag">Catering Service</span>
                <h2 style="color: #111;font-family:Playfair Display;font-size: 48px; font-style: italic;font-weight: 400;line-height: 100%; /* 48px * /">
                    Elevated
                </h2>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <div class="section-text">
                    <p>
                        We take pride in delivering thoughtfully prepared meals directly to your location, ensuring convenience and
                        a memorable dining experience for any occasion. With free setup and cleanup, recyclable chafing pans, compostable utensils,
                        and Sterno for hot buffets, we uphold our commitment to sustainability and exceptional hospitality. Our service includes reusable table runners,
                        chef and food signs with dietary tags, and a focus on quality to bring joy and wellbeing to your workplace.
                    </p>
                    <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Serve Me</MudButton>

                </div>
            </MudItem>
        </MudGrid>

    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-10">
    <MudGrid Spacing="0">
        <MudItem xs="12" Style="width: 400px; height: auto; background-color:#3E1268;border-radius:24px;padding:24px;">
            <MudStack Row="false" Justify="Justify.Center">
                <MudStack Row="false" Justify="Justify.Center">
                    <span style="color: #FF8D87;text-align: start;font-size: 16px;font-style: normal; font-weight: 600;line-height: 150%;">Our Numbers</span>
                    <span style="color: #FFF;text-align: start;font-size: 32px;font-style: normal; font-weight: 600;line-height: 150%;">The Numbers Don’t Lie, Taste Buds Can’t Be Fooled</span>
                </MudStack>

                <MudStack Row="false" Spacing="14" Justify="Justify.Center">
                    <div class="mt-6">
                        <h6 style="color: #FFF;text-align: start;font-size: 48px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">6M</h6>
                        <p style="color: #FFF;font-size: 14px;font-style: normal;font-weight: 500;line-height: 100%;">#Of Meals Served</p>
                        <div style="border: 1px solid #552088;">

                        </div>
                    </div>

                    <div class="mt-3">
                        <h6 style="color: #FFF;text-align: start;font-size: 48px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">8000</h6>
                        <p style="color: #FFF;font-size: 14px;font-style: normal;font-weight: 500;line-height: 100%;">#Of HUNGRY Offices Fed</p>
                        <div style="border: 1px solid #552088;">

                        </div>
                    </div>

                    <div>
                        <h6 style="color: #FFF;text-align: start;font-size: 48px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">0</h6>
                        <p style="color: #FFF;font-size: 14px;font-style: normal;font-weight: 500;line-height: 100%;">#Of Regrets</p>
                    </div>

                </MudStack>

            </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>



<MudContainer MaxWidth="MaxWidth.Large" Class="p-0 mt-10 m-0">
    <MudGrid Spacing="0" Class="p-4">
        <MudItem xs="12">
            <div>
                <h6 style="color: #111;text-align: center;font-family:Playfair Display; font-size: 48px;font-style: italic;font-weight: 400;letter-spacing: -1.76px;">How it Works</h6>
            </div>

            <MudStack Row="false" Spacing="8" Justify="Justify.Center" Class="mt-10">
                <div>
                    <div>
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:300px;text-wrap:wrap;">
                            Getting to Know<br />
                            Your Office
                        </p>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:290px;" src="/images/web-content/corporate-box3-img2.png" />

                        <p class="mt-6" style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width: 356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>

                <div>
                    <div>
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:300px;text-wrap:wrap;">
                            Advanced Menu<br />
                            Planning
                        </p>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:290px;" src="/images/web-content/corporate-box3-img2.png" />
                        <p class="mt-6" style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width: 356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>

                <div>
                    <div>
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:300px;text-wrap:wrap;">
                            Delivery, Set-Up &<br />
                            Clean-Up
                        </p>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:290px;" src="/images/web-content/corporate-box3-img3.png" />
                        <p class="mt-6" style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width:356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>
            </MudStack>

        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="p-0 m-0">
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <TrustBox />
        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="p-0 m-0 mt-10">
    <MudGrid Spacing="0">
        <MudItem xs="12" Style="background-color:#3E1268;height:200px;width:auto;padding:16px;">
            <h6 style="color: #FFF;font-family:Playfair Display;font-size: 48px;font-style: italic;font-weight: 400;line-height: 100%;">
                Corporate Catering
                Made Easy
            </h6>
        </MudItem>
        <MudItem xs="12" Style="background-color:#FFF;border-radius:24px;margin-top:-20px;padding:24px;">
            <p>
                An extension of your team, your account manager
                will work with you to understand your office needs,
                tastes, preferences and any dietary requirements.
            </p>

            <div class="cor-contact-body">

                <div class="cor-form-group">
                    <label class="cor-form-label">Your Name</label>
                    <input class="cor-custom-input" placeholder="Enter Your Name" />
                </div>

                <div class="cor-form-group">
                    <label class="cor-form-label">Phone Number</label>
                    <input class="cor-custom-input" placeholder="Enter phone number" />
                </div>

                <div class="cor-form-group">
                    <label class="cor-form-label">Email</label>
                    <input class="cor-custom-input" placeholder="Enter E-Mail" />
                </div>




            </div>
            <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Serve Me</MudButton>


        </MudItem>
    </MudGrid>   
</MudContainer>





<style>
    .corporate-bg {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        min-height: 700px;
        padding-top: 48px;
        overflow: hidden;
    }

    .corporate-bg-circle {
        position: absolute;
        width: 360px;
        height: 360px;
        top: -100px;
        left: -156px;
        border-radius: 50%;
        background: linear-gradient(137deg, rgba(255, 111, 97, 0.27) 49.34%, rgba(255, 111, 97, 0.60) 120.01%);
        filter: blur(200px);
    }

    .corporate-text-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .corporate-hosting-text {
        color: #111;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 56px;
        font-style: italic;
        font-weight: 400;
        line-height: 100%; /* 56px */
        letter-spacing: -1.12px;
    }

    .corporate-para {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .corporate-para p {
            color: #666;
            text-align: center;
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            width: 312px;
            text-wrap: wrap;
        }


    .main-white-card {
        width: 100%;
        background: white;
        border-radius: 24px;
        padding: 16px;
    }

    .section-row {
        margin-bottom: 60px;
    }

    .section-img {
        width: 100%;
        border-radius: 24px;
        width: 357px;
        height: 359px;
    }

    .section-text {
        max-width: 520px;
    }

        .section-text p {
            padding: 0 12px;
        }

    .section-tag {
        color: #ff6f61;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    /* Body */
    .cor-contact-body {
        padding: 24px 32px;
    }

    /* Form */
    .cor-form-group {
        margin-bottom: 20px;
    }

    .cor-form-label {
        display: block;
        font-size: 14px;
        margin-bottom: 6px;
        color: #000;
    }

    /* Input */
    .cor-custom-input {
        width:312px;
        height: 48px;
        background: #F9F9F9;
        border: 1px solid #BBB;
        border-radius: 10px;
        padding: 0 14px;
        font-size: 16px;
        outline: none;
    }

        /* Placeholder */
        .custom-input::placeholder,
        .custom-textarea::placeholder {
            color: #A3A3A3;
            font-size: 16px;
        }

</style>