@page "/corporate"
<PageTitle>CorprRate Orders Page</PageTitle>


<MudGrid Spacing="0" Class="corporate-bg">
    <div class="corporate-bg-circle">
    </div>
    <div class="corporate-left-img">
    </div>
    <div class="corporate-right-img">
    </div>
    <MudItem sm="12" xs="12" Class="text-center">
        <div class="corporate-text-box">
            <div class="corporate-hosting-text">
                <span>Exceptional Service.<br />Real Impact.</span>
            </div>
        </div>
        <div class="corporate-para mt-8">
            <p>
                Delivering reliable catering solutions that create value for every gathering.
            </p>
        </div>

        <MudItem xs="12" Class="mt-20">
            <div>
                <Corporate1 />
            </div>
        </MudItem>

    </MudItem>
</MudGrid>


<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="p-20 m-0">
    <MudPaper Class="main-white-card">

        <!-- SECTION 1 -->
        <MudGrid Spacing="6" Class="section-row">
            <MudItem xs="12" md="4">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>

            <MudItem xs="12" md="8">
                <div class="section-text">
                    <span class="section-tag">ABOUT US</span>
                    <h2>Welcome to EZ Gatherr</h2>
                    <p>
                        At EZ Gatherr, we've revolutionised corporate catering, infusing heart, taste,
                        and purpose into every office event and lunch we serve.
                    </p>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Enjoy Excellence</MudButton>
                </div>
            </MudItem>
        </MudGrid>

        <!-- SECTION 2 (IMAGE RIGHT) -->
        <MudGrid Spacing="6" Class="section-row">
            <MudItem xs="12" md="8">
                <div class="section-text">
                    <span class="section-tag">CATERING SERVICE</span>
                    <h2>Drop Off</h2>
                    <p>
                        We take pride in delivering thoughtfully prepared meals directly to your location,
                        ensuring convenience and a memorable dining experience for any occasion.
                        With free setup and cleanup, recyclable chafing pans, compostable utensils,
                        and Sterno for hot buffets, we uphold our commitment to sustainability and exceptional hospitality.
                        Our service includes reusable table runners, chef and food signs with dietary tags,
                        and a focus on quality to bring joy and wellbeing to your workplace.
                    </p>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Learn More</MudButton>
                </div>
            </MudItem>

            <MudItem xs="12" md="4">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>
        </MudGrid>

        <MudGrid Spacing="6" Class="section-row">
            <MudItem xs="12" md="4">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>

            <MudItem xs="12" md="8">
                <div class="section-text">
                    <span class="section-tag">ABOUT US</span>
                    <h2>Welcome to EZ Gatherr</h2>
                    <p>
                        At EZ Gatherr, we've revolutionised corporate catering, infusing heart, taste,
                        and purpose into every office event and lunch we serve.
                    </p>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Enjoy Excellence</MudButton>
                </div>
            </MudItem>
        </MudGrid>

        <MudGrid Spacing="6" Class="section-row">
            <MudItem xs="12" md="8">
                <div class="section-text">
                    <span class="section-tag">CATERING SERVICE</span>
                    <h2>Drop Off</h2>
                    <p>
                        We take pride in delivering thoughtfully prepared meals directly to your location,
                        ensuring convenience and a memorable dining experience for any occasion.
                        With free setup and cleanup, recyclable chafing pans, compostable utensils,
                        and Sterno for hot buffets, we uphold our commitment to sustainability and exceptional hospitality.
                        Our service includes reusable table runners, chef and food signs with dietary tags,
                        and a focus on quality to bring joy and wellbeing to your workplace.
                    </p>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Learn More</MudButton>
                </div>
            </MudItem>

            <MudItem xs="12" md="4">
                <img class="section-img" src="/images/web-content/corporate-box2-img.png" />
            </MudItem>
        </MudGrid>

    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large" Style="margin-top:-100px;">
    <MudGrid Spacing="0">
        <MudItem xs="12" Style="width: 1058px; height: 472px; background-color:#3E1268;border-radius:24px;">
            <MudStack Row="false" Justify="Justify.Center">
                <MudStack Row="false" Justify="Justify.Center" Class="mt-18">
                    <span style="color: #FF8D87;text-align: center;font-size: 24px;font-style: normal; font-weight: 600;line-height: 150%;">Our Numbers</span>
                    <span style="color: #FFF;text-align: center;font-size: 56px;font-style: normal; font-weight: 600;line-height: 150%;">The Numbers Don’t Lie, Taste<br /> Buds Can’t Be Fooled</span>
                </MudStack>

                <MudStack Row="true" Spacing="14" Justify="Justify.Center">
                    <div>
                        <h6 style="color: #FFF;text-align: center;font-size: 80px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">6M</h6>
                        <p style="color: #FFF;font-size: 16px;font-style: normal;font-weight: 500;line-height: 100%;">#Of Meals Served</p>
                    </div>

                    <div style="width: 1px; height: 90px; background-color:#552088;">

                    </div>

                    <div>
                        <h6 style="color: #FFF;text-align: center;font-size: 80px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">8000</h6>
                        <p style="color: #FFF;font-size: 16px;font-style: normal;font-weight: 500;line-height: 100%;">#Of HUNGRY Offices Fed</p>
                    </div>

                    <div style="width: 1px; height: 90px; background-color:#552088;">

                    </div>

                    <div>
                        <h6 style="color: #FFF;text-align: center;font-size: 80px;font-style: normal;font-weight: 700;line-height: 100%; /* 80px * /">0</h6>
                        <p style="color: #FFF;font-size: 16px;font-style: normal;font-weight: 500;line-height: 100%;">#Of Regrets</p>
                    </div>

                </MudStack>

            </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>


<MudContainer MaxWidth="MaxWidth.Large" Class="p-0 mt-20">
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <div>
                <h6 style="color: #111;text-align: center;font-family:Playfair Display; font-size: 88px;font-style: italic;font-weight: 400;letter-spacing: -1.76px;">How it Works</h6>
            </div>

            <MudStack Row="true" Spacing="8" Justify="Justify.Center" Class="mt-10">
                <div>
                    <div>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:300px;" src="/images/web-content/corporate-box3-img2.png" />
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:365px;text-wrap:wrap;">
                            Getting to Know<br />
                            Your Office
                        </p>
                        <p style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width: 356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>

                <div>
                    <div>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:300px;" src="/images/web-content/corporate-box3-img2.png" />
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:365px;text-wrap:wrap;">
                            Getting to Know<br />
                            Your Office
                        </p>
                        <p style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width: 356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>

                <div>
                    <div>
                        <img style="background: #EEE; border-radius: 32px; width:auto;height:300px;" src="/images/web-content/corporate-box3-img3.png" />
                        <p style="color: #111; font-size: 32px; font-style: normal;font-weight: 500;width:365px;text-wrap:wrap;">
                            Getting to Know<br />
                            Your Office
                        </p>
                        <p style="color: #666666; font-size: 20px; font-style: normal; font-weight: 500; width:356px; text-wrap: wrap;">
                            An extension of your team, your account manager will
                            work with you to understand your office needs, tastes, preferences and any dietary requirements.
                        </p>
                    </div>
                </div>
            </MudStack>

        </MudItem>
    </MudGrid>
</MudContainer>


<style>
    .corporate-bg {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        min-height: 700px;
        padding-top: 48px;
        overflow: hidden;
    }

    .corporate-bg-circle {
        position: absolute;
        width: 360px;
        height: 360px;
        top: -100px;
        left: -156px;
        border-radius: 50%;
        background: linear-gradient(137deg, rgba(255, 111, 97, 0.27) 49.34%, rgba(255, 111, 97, 0.60) 120.01%);
        filter: blur(200px);
    }

    .corporate-left-img {
        position: absolute;
        width: 395.318px;
        height: 385.624px;
        top: 60px;
        left: 0px;
        background-repeat: no-repeat;
        background-image: url('images/web-content/corporate-right-img.png');
        z-index: 0;
    }

    .corporate-right-img {
        position: absolute;
        background-image: url('images/web-content/corporate-left-img.png');
        top: 60px;
        right: 216px;
        width: 173.238px;
        height: 172.886px;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .corporate-text-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .corporate-hosting-text {
        color: #111;
        text-align: center;
        font-family: "Playfair Display";
        font-size:100px;
        font-style: italic;
        font-weight: 400;
        line-height: 100%; /* 56px */
        letter-spacing: -1.12px;
    }

    .corporate-para {
        color: #666;
        text-align: center;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }


    .main-white-card {
        width:100%;
        background: white;
        border-radius: 24px;
        padding: 120px;
    }

    .section-row {
        margin-bottom: 80px;
    }

    .section-img {
        width: 100%;
        max-width: 260px;
        border-radius: 24px;
    }

    .section-text {
        max-width: 520px;
    }

    .section-tag {
        color: #ff6f61;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }

</style>