@page "/faqpage"
<PageTitle>FAQ Page</PageTitle>


<MudGrid Spacing="0">

    <!-- TOP PURPLE HEADER -->
    <MudItem xs="12" Class="faq-main-box">
        <div class="faq-header-content">
            <h6 class="faq-main-h1">
                Frequently
                asked questions
            </h6>
            <p class="faq-main-para">
                Get in touch with us through our contact form for any event inquiries, bookings, support requests.
            </p>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary">Get Personalized Help</MudButton>
        </div>
    </MudItem>

    <!-- WHITE CARD -->
    <MudItem xs="12">
        <div class="faq-main-card">


            <div class="faq-group">
                <label>8+ Yearsl</label>
                <p>Industry Experience</p>
            </div>

            <div class="faq-group">
                <label>3,000+</label>
                <p>Customised Events</p>
            </div>

            <div class="faq-group">
                <label>2020 +</label>
                <p>Professional Partners</p>
            </div>
        </div>
    </MudItem>

    <MudItem xs="12">
        <div class="faq-box-container">
            <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceAround" Style="height:46px;">
                <MudButton Class="faq-semi-btn">my business</MudButton>
                <MudButton Class="faq-semi-btn">Events</MudButton>
                <MudButton Class="faq-semi-btn">Partners</MudButton>
                <MudButton Class="faq-semi-btn">My</MudButton>

            </MudStack>
        </div>
    </MudItem>

    <MudItem xs="12">

        <MudItem xs="12" sm="12" Class="mt-0">
            <Expender Heading="What is finance analytics and how can it help my business?" Content="Plan events in minutes with a simple, guided flow." />
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-2">
            <Expender Heading="What is finance analytics and how can it help my business?" Content="Plan events in minutes with a simple, guided flow." />
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-2">
            <Expender Heading="What is finance analytics and how can it help my business?" Content="Plan events in minutes with a simple, guided flow." />
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-2">
            <Expender Heading="What is finance analytics and how can it help my business?" Content="Plan events in minutes with a simple, guided flow." />
        </MudItem>

        <MudItem Class="faq-still-box mt-0" xs="12" sm="12">
            <div class="text-center">
                <h6>Still have a questions?</h6>
                <p>Can’t find that answer to your questions? Send us an email and we’ll get back to you as soon as possible</p>
            </div>
            <div class="mt-4">
                <MudButton Href="/allpage" Variant="Variant.Filled" Color="Color.Primary" Class="btn-faq m-2">Send email</MudButton>
            </div>
        </MudItem>


    </MudItem>

</MudGrid>


<style>
    .faq-main-box {
        background-color: #3E1268;
        height: 263px;
        padding: 20px;
        margin-bottom: 60px;
    }

    .faq-header-content {
        max-width: 500px;
    }

    .faq-main-h1 {
        color: #FFF;
        font-family: "Playfair Display";
        font-size: 40px;
        font-style: italic;
        font-weight: 500;
        line-height: 40px; /* 100% */
    }

    .faq-main-para {
        color: #FFF;
        font-size: 12px;
        opacity: 0.8;
    }
    .faq-main-card {
        margin-top: -80px;
        background-color: #FFF;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        padding: 20px;
    }
    .faq-group label {
        color: #111;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.48px;
    }
    .faq-group p {
        color: #666;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
    }

    .faq-box-container {
        background-color: #220A3A;
        height: 46px;
    }

    .faq-semi-btn {
        color: #7F7093;
        text-transform: none
    }

        .faq-semi-btn:hover {
            background-color: #341F4B !important;
            color: white !important;
            border: 1px solid #422A5E !important;
            border-radius: 20px !important;
            min-width: 78px;
            height: 30px;
            border: none;
        }


    .faq-panel {
        width: auto;
        padding: 9px;
        background-color: #fff;
    }

    .mud-expansion-panel {
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }


    .mud-expand-panel-text {
        color: #111;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
    }

    .mud-expand-panel-content {
        font-weight: 200;
        font-size: 16px;
    }
    /* Very importan idea*/
    .expander-custom .mud-icon-size-medium {
        width: 24px;
        height: 24px;
        background-color: #EEEEEE;
        margin-left: 6px;
    }

    .faq-still-box {
        width: auto;
        height: 310px;
        padding: 35px;
        background: #3E1268;
    }

        .faq-still-box h6 {
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.64px;
        }

        .faq-still-box p {
            font-size: 16px;
            font-weight: 400;
            color: white;
            padding-top: 8px;
        }

    .btn-faq {
        border-radius: 40px;
        background-color: #FF3B30 !important;
        text-transform: capitalize !important;
        box-shadow: 0px 4px 7.1px 0px #FFFFFF80 inset;
        width: 109px;
        height: 34px;
    }

        .btn-faq:hover {
            background-color: #FF3B30 !important;
        }

</style>