@page "/"
<PageTitle>Home Page</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <HeroSection />
    <MarqueeZigZagSlider />
    <div class="mt-12">
        <FromFinaleSlider />
    </div>
    <div class="mt-8">
        <MenuCategory />
    </div>
    <MudGrid Spacing="6" Class="mt-4">
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">  
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="12" sm="12" Class="text-center mt-8">
            <MudButton Variant="Variant.Outlined" Class="rounded-pill">View all</MudButton>

        </MudItem>
    </MudGrid>
    <div style="margin-top:24px;">
        <Gatherboxdiv />
    </div>

    <div class="mt-12">
        <TrustBox />
    </div>

    <div style="margin-top:107px;">
        <NeedGuidness />

    </div>

    <div class="mt-12">
        <MarqueeSlider />

    </div>

    <div class="mt-12">
        <ThisSeason />

    </div>
    <div style="margin-top:40px;">
        <FrequentlyAasked />
    </div>
</MudContainer>



