@page "/"
<PageTitle>Home Page</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <HeroSection />
    <MarqueeZigZagSlider/>
    <FromFinaleSlider/>
    @* <MenuCategory/> *@
    <MudGrid Spacing="2">
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
    </MudGrid>  
    <TrustBox/>
    <div style="margin-top:110px;">
        <NeedGuidness />

    </div>
    <MarqueeSlider/>
    <div style="margin-top:28px;">
    <Gatherboxdiv/>
    </div>
    <ThisSeason/>
    <div style="margin-bottom:200px;">
    <FrequentlyAasked />
    </div>
</MudContainer>


