@page "/"
<PageTitle>Home Page</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <HeroSection />
    <MarqueeZigZagSlider />
    <div class="mt-12">
        <FromFinaleSlider />
    </div>
    <div class="mt-8">
        <MenuCategory />
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <PackageViewer />
    <div style="margin-top:24px;">
        <Gatherboxdiv />
    </div>  
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <div class="mt-12">
        <TrustBox />
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <div style="margin-top:107px;">
        <NeedGuidness />
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <div class="mt-12">
        <MarqueeSlider />
    </div>
    <div class="mt-12">
        <ThisSeason />
    </div>
    <div style="margin-top:40px;">
        <FrequentlyAasked />
    </div>
</MudContainer>






