
@page "/planevent"
<PageTitle>Plan n Event</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <MenuSection />
    

    @*<div class="mt-8">
            <MenuCategory />
        </div>*@
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <PlanNeventHeader />
</MudContainer>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <PackageViewer />
</MudContainer>


<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <div style="margin-top:107px;">
        <PlaneventPndit />
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="m-0 p-0">
    <div class="mt-12">
        <Gallery />
    </div>
</MudContainer>











