@page "/test"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<div class="d-flex justify-content-center">
    @* <NeedGuidness /> *@
    @* <ExploreFood /> *@
    @* <MenuCategory /> *@
    @* <OurvaluesCard /> *@
    @* <FrequentlyAasked /> *@
    @*<PlanYourEvent />*@

    @* <MudGrid Spacing="2">
            <MudItem xs="6">
            <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
        </MudGrid> *@

    @*<PackageTab />*@

    @*<MorePackageTab />*@

    @*<MoreDetailsPackage />*@

    @*<SmartSystem />*@

    @*<SmartSystem2 />*@

    @*<PackCustomisationPage />*@

    @*<AddOnTab />*@

    @*<HomeGatherTooltip />*@

    @*<EventInformation />*@


    @*<BentoBoxMore />*@

    @*<SatyanarayanCard />*@

    @*<EventInfoPooja />*@

    @*<CardToolTip />*@

    @*<Foodfilterpage />*@

    @*<MenuSection />*@

    @*food4-party*@

    @*<Gallery />*@

    @*<FoodGatherBox />*@

    @*<GatherFeastHeader />*@

    @*<BentoBoxHeader />*@

    @*<PlanNeventHeader />*@

    @*<CheckOut12 />*@

    @*<CheckOutRedmeemPoints />*@

    @*<Checkout3 />*@

    @*<CheckoutDeletPage />*@

    @*<MyOrder1 />*@

    @*<MyOrderLastPage />*@

    @*<MyOrder2 />*@

    @*<MyOrder3 />*@

    @*<DecorCard />*@

    @*<Decorpage2 />*@

    <!--filter icon or filter comp-->
    @*<Decor3 />*@

    @*<Decore4 />*@

    @*<GatherFilter />*@

    @*<ProfileEdit />*@

    @*<LoyaltyWallet />*@

    @*<AddAddresPage />*@

    @*<DropDown />*@

    <BentoBoxtooltip />


</div>
