@page "/test"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<div class="d-flex justify-content-center">
    @* <NeedGuidness /> *@
    @* <ExploreFood /> *@
    @* <MenuCategory /> *@
    @* <OurvaluesCard /> *@
    @* <FrequentlyAasked /> *@

    @* <MudGrid Spacing="2">
        <MudItem xs="6">
        <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
        <MudItem xs="6">
            <PackageCard />
        </MudItem>
    </MudGrid> *@

    <PackageTab />

    @*<MorePackageTab />*@

  @*<AddOnTab />*@

    @*<EventInformation />*@

    @*<MoreDetailsPackage />*@

    @*<BentoBoxMore />*@

    @*<BentoBoxMore />*@

    @*<SatyanarayanCard />*@

    @*<EventInfoPooja />*@

    @*<CardToolTip />*@

    @*<LoyaltyWallet />*@

</div>
