@page "/test"
@layout EmptyLayout

<PageTitle>Test</PageTitle>

<div class="d-flex justify-content-center">
    @* <NeedGuidness /> *@
    @* <ExploreFood /> *@
    @* <MenuCategory /> *@
    @* <OurvaluesCard /> *@
    @* <FrequentlyAasked /> *@
    @*<PlanYourEvent />*@

    @* <MudGrid Spacing="2">
            <MudItem xs="6">
            <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
            <MudItem xs="6">
                <PackageCard />
            </MudItem>
        </MudGrid> *@

    @*<PackageTab />*@

    @*<MorePackageTab />*@

    @*<MoreDetailsPackage />*@

    @*<SmartSystem />*@

    @*<SmartSystem2 />*@

    @*<PackCustomisationPage />*@

    @*<AddOnTab />*@

    @*<HomeGatherTooltip />*@



    @*<EventInformation />*@


    @*<BentoBoxMore />*@

    @*<SatyanarayanCard />*@

    @*<EventInfoPooja />*@

    @*<CardToolTip />*@

    @*<LoyaltyWallet />*@

    @*<Foodfilterpage />*@

    @*<MenuSection />*@

    @*food4-party*@

    @*<Gallery />*@

    @*<FoodGatherBox />*@

    @*<GatherFeastHeader />*@

    <BentoBoxHeader />

    @*<PlanNeventHeader />*@

</div>
